<tr>
  <td><%= link_to athlete.name, athlete_path(athlete) %></td>
  <td><%= @count_results.fetch(athlete.id, 0) %></td>
  <td class="hidden-on-phone"><%= @count_volunteering.fetch(athlete.id, 0) %></td>
  <% total_time = athlete.results.published.minimum(:total_time) %>
  <td sort_by="<%= total_time&.to_i %>"><%= human_result_time total_time %></td>
</tr>
