<tr>
  <td><%= link_to athlete.name, athlete_path(athlete) %></td>
  <td class="hidden-on-phone"><%= athlete.parkrun_code %></td>
  <td><%= count_results[athlete.id] %></td>
  <td class="hidden-on-phone"><%= athlete.volunteering.size %></td>
  <td><%= human_result_time athlete.results.minimum(:total_time) %></td>
</tr>
