<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Главная', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'Клубы', clubs_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Клуб <%= @club.name %></li>
  </ol>
</nav>

<h2><%= @club.name %></h2>

<table class="table table-striped">
  <thead data-controller="table-head">
    <tr>
      <td>Имя</td>
      <td class="hidden-on-phone">Parkrun ID</td>
      <td>
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span>
        Количество забегов
      </td>
      <td class="hidden-on-phone">
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span>
        Количество волонтёрств
      </td>
      <td>
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span>
        Лучшее время
      </td>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render partial: 'athlete', collection: @athletes, locals: { count_results: @count_results }, cached: true %>
  </tbody>
</table>
