<% head_info :title, @club.name %>
<% head_info :description, t('.description', club: @club.name) %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Главная', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'Клубы', clubs_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @club.name %></li>
  </ol>
</nav>

<h2><%= @club.name %></h2>

<div class="d-flex">
  <div class="flex-shrink-0">
    <%= image_tag @club.logo.variant(:thumb), class: 'img-fluid rounded-start', alt: @club.name if @club.logo.attached? %>
  </div>
  <div class="flex-grow-1 ms-3">
    <%= sanitized_text @club.description %>
  </div>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <span class="badge bg-primary rounded-pill me-3"><%= @athletes.size %></span> количество участников
  </li>
  <li class="list-group-item">
    <span class="badge bg-primary rounded-pill me-3"><%= @total_results_count %></span> количество забегов
  </li>
  <li class="list-group-item">
    <span class="badge bg-primary rounded-pill me-3"><%= @total_volunteering_count %></span> количество волонтёрств
  </li>
  <li class="list-group-item">
    <%= link_to 'Активность участников клуба на последней неделе', last_week_club_path(@club) %>
  </li>
</ul>

<table class="table table-striped">
  <thead data-controller="table-head">
    <tr>
      <td>Имя</td>
      <td>
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span>
        Забеги
      </td>
      <td class="hidden-on-phone">
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span>
        Волонтёрства
      </td>
      <td>
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span>
        Лучшее время
      </td>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render partial: 'athlete', collection: @athletes, cached: true %>
  </tbody>
</table>
