<% head_info :title, t('.title') %>
<% head_info :description, t('.description') %>

<div class="row">
  <div class="col-12">
    <h1 class="mt-2"><%= t '.header' %></h1>
    <p class="text-muted fs-4 fw-semibold mb-1"><%= l @target_date, format: :long %></p>
    <p><%= t '.description' %></p>
  </div>
</div>

<% unless @has_friends %>
  <div class="text-center py-5">
    <i class="fa-solid fa-people-arrows text-muted display-1"></i>
    <h4 class="mt-3 text-muted"><%= t '.no_friends' %></h4>
    <p class="text-muted"><%= t '.no_friends_description' %></p>
    <%= link_to t('.profile'), athlete_path(@athlete), class: 'btn btn-primary' %>
  </div>
  <% return %>
<% end %>

<% if @target_date != Date.current && @results.blank? %>
  <div class="alert alert-info" role="alert">
    <%= t '.not_published_yet' %>
  </div>
<% end %>

<% if @target_date != Date.current && @results.find { |r| r.athlete_id == @athlete.id }.nil? && @volunteers.find { |v| v.athlete_id == @athlete.id }.nil? %>
  <div class="alert alert-warning" role="alert">
    <%= t '.you_did_not_participate' %>
  </div>
<% end %>

<% if @results.present? %>
  <div class="table-responsive mb-4">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col"><%= t '.athlete' %></th>
          <th scope="col" class="text-end"><%= t '.result' %></th>
          <th scope="col" class="text-center"><%= t '.pace' %></th>
          <th scope="col"><%= t '.event' %></th>
          <th scope="col"><%= t '.club' %></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @results.each_with_index do |res, idx| %>
          <%= tag.tr class: (res.athlete_id == @athlete.id ? 'table-success' : nil) do %>
            <td class="position align-middle"><%= idx + 1 %></td>
            <td>
              <%= image_tag user_image_path(res.athlete&.user), class: 'avatar-50' %>
            </td>
            <td>
              <%= link_to res.athlete.name, res.athlete, class: 'athlete-link' %>
            </td>
            <td class="text-end">
              <% if res.personal_best %>
                <%= tag.i class: 'fa-solid fa-bolt text-primary', title: t('activities.result.personal_best') %>
              <% end %>
              <%= res.time_string %>
            </td>
            <td class="text-center">
              <%= human_result_pace res.total_time %>
            </td>
            <td><%= link_to res.activity.event.name, res.activity %></td>
            <td>
              <% club = res.athlete&.club %>
              <%= link_to club&.name, club if club %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @volunteers_by_role.present? %>
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0"><%= t '.volunteers_title' %></h4>
    </div>
    <div class="card-body">
      <% Volunteer.roles.each_key do |role| %>
        <% volunteers = @volunteers_by_role[role] %>
        <% next if volunteers.blank? %>
        <div class="mb-2">
          <strong><%= human_volunteer_role(role) %>:</strong>
          <% volunteers.each do |volunteer| %>
            <%= link_to volunteer.athlete.name, volunteer.athlete %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
