<% head_info :description, t('.description') %>
<h1><%= head_info :title, t('.title') %></h1>

<%= form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'row' }, data: { turbo: false } do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="col-sm-12 col-lg-6 mb-3">
    <div class="input-group">
      <%=
        f.email_field(
          :email,
          autofocus: true,
          autocomplete: :email,
          inputmode: :email,
          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
          class: 'form-control',
          placeholder: t('.your_email'),
        )
      %>
      <%= f.submit t('.send_confirmation'), class: 'btn btn-outline-secondary' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
