<h2>Настройки</h2>

<%= form_for resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }, data: { turbo: false } do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <div class="field mt-2">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field mt-2">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <%= f.fields_for :athlete, f.object.athlete do |athlete_form| %>
    <%= athlete_form.label :club %>
    <%= athlete_form.collection_select :club_id, Club.order(:name), :id, :name, { include_blank: 'Нет клуба' } %>
  <% end %>

  <div class="actions my-3">
    <%= f.submit 'Обновить', class: 'btn btn-primary' %>
  </div>
<% end %>

<!--
<h3>Удалить мой аккаунт</h3>

<p>Ваша учётная запись будет удалена. Данное действие необратимо.</p>
<%= link_to 'Удалить мой аккаунт', user_registration_path, data: { confirm: 'Вы уверены?' }, method: :delete, class: 'btn btn-danger' %>
-->
<br>
<%= link_to 'Назад', :back, class: 'btn btn-light mt-4' %>
