<% head_info :title, t('.title') %>
<% head_info :description, t('.description') %>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h1><%= t '.title' %></h1>
    <p class="text-body-secondary"><%= t '.subtitle' %></p>

    <%= form_for resource, as: resource_name, url: user_registration_path, data: { turbo: false } do |f| %>
      <%= render 'devise/shared/error_messages', resource: %>

      <div class="mb-3">
        <%= f.label :last_name, class: 'form-label text-capitalize' %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: 'family-name', class: 'form-control', required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :first_name, class: 'form-label text-capitalize' %>
        <%= f.text_field :first_name, autocomplete: 'given-name', class: 'form-control', required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %>
        <span class="text-body-secondary small"><%= t '.email_hint' %></span>
        <%= f.email_field :email, autocomplete: :email, inputmode: :email, class: 'form-control', required: true %>
      </div>

      <%= f.fields_for :athlete do |af| %>
        <div class="mb-3">
          <%= af.label :gender, class: 'form-label text-capitalize' %>
          <div class="d-flex gap-4">
            <% Athlete.genders.each do |label, value| %>
              <div class="form-check">
                <%= af.radio_button :gender, value, class: 'form-check-input', required: true %>
                <%= af.label "gender_#{value}", human_gender(label), class: 'form-check-label' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="my-3">
        <%= f.submit t('.submit'), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>
