<%= form_with(url:) do |f| %>
  <div style="margin-bottom: 12px">
    <%= f.label :event_id, 'Мероприятие' %>
    <%=
      f.collection_select(
        :event_id,
        Event.order(:visible_order, :name),
        :id,
        :name,
        include_blank: true,
        required: true,
      )
    %>
  </div>
  <div style="margin-bottom: 12px">
    <%= f.label :from_date, 'Начало отчёта' %>
    <%= f.date_field :from_date, max: Time.zone.today %>
  </div>
  <div style="margin-bottom: 12px">
    <%= f.label :till_date, 'Конец отчёта' %>
    <%= f.date_field :till_date, max: Time.zone.today %>
  </div>
  <%= f.submit 'Запросить', data: { confirm: 'Запустить задачу на создание и отправку отчёта?' } %>
<% end %>
