<%= form_with url: admin_utilities_export_volunteers_role_csv_path do |f| %>
  <div style="margin-bottom: 12px">
    <%= f.label :event_id, 'Мероприятие' %>
    <%= f.collection_select :event_id, Event.order(:visible_order, :name), :id, :name, include_blank: true %>
  </div>
  <div style="margin-bottom: 12px">
    <%= f.label :role, 'Волонтёрская роль' %>
    <%=
      f.select(
        :role,
        Volunteer.roles.keys.map { |r| [human_volunteer_role(r), r] },
        include_blank: true,
      )
    %>
  </div>
  <div style="margin-bottom: 12px">
    <%= f.label :from_date, 'Дата начала отчёта' %>
    <%= f.date_field :from_date, style: 'width: 150px;' %>
  </div>
  <%= f.submit 'Запросить', data: { confirm: 'Запустить задачу на создание и отправку отчёта?' } %>
<% end %>
