<%
  athlete = trophy.athlete
  date = trophy.date
%>
<% if @badge.record_kind? %>
  <% trophy.info['data'].each do |record| %>
    <tr>
      <td><%= link_to athlete.name, athlete_path(athlete) %></td>
      <td><%= Event.find(record['event_id']).name %></td>
      <% record_result = Result.find(record['result_id']) %>
      <td><%= human_result_time record_result.total_time %></td>
      <td class="hidden-on-phone"><%= l record_result.activity.date %></td>
      <td class="hidden-on-phone"><%= athlete.club&.name %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td><%= link_to athlete.name, athlete_path(athlete) %></td>
    <td><%= l date if date %></td>
    <td class="hidden-on-phone"><%= athlete.club&.name %></td>
  </tr>
<% end %>
