<%
  athlete = trophy.athlete
  date = trophy.date
%>
<% if @badge.record_kind? %>
  <% trophy.data.each do |record| %>
    <% next unless (event_name = @country_events.unscope(:order).find_by(id: record['event_id'])&.name) %>
    <tr>
      <td><%= link_to athlete.name, athlete %></td>
      <td><%= event_name %></td>
      <% record_result = Result.joins(:activity).where(id: record['result_id']).select(:total_time, :date).take! %>
      <td class="px-0 px-sm-2"><%= record_result.time_string %></td>
      <td class="hidden-on-phone"><%= l record_result[:date] %></td>
      <td class="hidden-on-phone"><%= link_to athlete.club.name, club_path(athlete.club.slug) if athlete.club %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td><%= link_to athlete.name, athlete %></td>
    <% unless @badge.funrun_kind? %>
      <td><%= l date if date %></td>
    <% end %>
    <%= tag.td class: ('hidden-on-phone' unless @badge.funrun_kind?) do %>
      <%= link_to athlete.club.name, club_path(athlete.club.slug) if athlete.club %>
    <% end %>
  </tr>
<% end %>
