<% head_info :og_image, url_for(@badge.image) %>
<% info_suffix = " - ##{params[:page].to_i}" if params[:page].to_i.positive? %>
<% head_info :title, "#{@badge.name}#{info_suffix}" %>
<% head_info :description, "#{strip_tags(@badge.conditions)}#{info_suffix}".squish %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('.main_page'), root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to t('navbars.top.badges'), badges_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @badge.name %></li>
  </ol>
</nav>

<div class="row g-0">
  <div class="col-sm-4 col-md-3 p-3 d-flex justify-content-center align-items-start">
    <%= image_tag @badge.image.variant(:web), class: 'img-badge', alt: @badge.name %>
  </div>
  <div class="col-sm-8 col-md-9">
    <h2><%= @badge.name %></h2>
    <p class="card-text"><%= sanitized_text @badge.conditions %></p>
    <% if @badge.funrun_kind? && @badge.received_date %>
      <p class="text-muted">
        <%= t '.event_date', date: l(@badge.received_date, format: :long) %>
      </p>
    <% end %>
  </div>
</div>

<% if @trophies.exists? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t '.athlete' %></th>
        <% if @badge.record_kind? %>
          <th><%= t '.event' %></th>
          <th class="px-0 px-sm-2"><%= t '.result' %></th>
          <th class="hidden-on-phone">Дата</th>
        <% elsif !@badge.funrun_kind? %>
          <th><%= t '.received_date' %></th>
        <% end %>
        <%= tag.th class: ('hidden-on-phone' unless @badge.funrun_kind?) do %>
          <%= t '.club' %>
        <% end %>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render partial: 'trophy', collection: @trophies %>
    </tbody>
  </table>
  <%= paginate @trophies, window: 2 %>
<% elsif @badge.funrun_kind? %>
  <p><%= t '.soon' %></p>
<% else %>
  <p><%= t '.nobody_has' %></p>
<% end %>
