<% head_info :title, @badge.name %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Главная', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'Награды', badges_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @badge.name %></li>
  </ol>
</nav>

<div class="row g-0">
  <div class="col-sm-4 col-md-3 p-3 d-flex justify-content-center align-items-start">
    <%= image_tag @badge.picture_link, class: 'img-badge' %>
  </div>
  <div class="col-sm-8 col-md-9">
    <h2><%= @badge.name %></h2>
    <p class="card-text"><%= sanitized_text @badge.conditions %></p>
  </div>
</div>

<table class="table table-striped">
  <thead data-controller="table-head">
    <tr>
      <td>Участник</td>
      <td>Дата получения</td>
      <td class="hidden-on-phone">Клуб</td>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render partial: 'trophy', collection: @trophies, cached: true %>
  </tbody>
</table>
<%= paginate @trophies %>
