<%= turbo_stream.update 'going_to_form' do %>
  <%= render 'form' %>
<% end %>

<%= turbo_stream.update 'going_athletes_button' do %>
  <button type="button" class="btn btn-outline-primary position-relative" data-bs-toggle="modal" data-bs-target="#goingAthletesModal">
    <%= t 'events.going_athletes.show_list' %>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      <%= @event.going_athletes.count %>
    </span>
  </button>
<% end %>

<%= turbo_stream.update 'goingAthletesModal' do %>
  <%= render 'events/going_athletes_modal' %>
<% end %>
