<%= turbo_stream.update 'going_to_form' do %>
  <%= render 'form' %>
<% end %>

<% if @event.going_athletes.any? %>
  <%= turbo_stream.update 'going_athletes_button' do %>
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#goingAthletesModal">
      <%= t 'events.going_athletes.show_list', count: @event.going_athletes.count %>
    </button>
  <% end %>
<% else %>
  <%= turbo_stream.remove 'going_athletes_button' %>
<% end %>

<%= turbo_stream.update 'goingAthletesModal' do %>
  <%= render 'events/going_athletes_modal' %>
<% end %>
