<%= turbo_frame_tag current_user do %>
  <%= form_with model: current_user do |form| %>
    <div class="d-flex flex-column" data-controller="form">
      <div>
        <div class="mt-2" data-form-target="input">
          <% is_user_with_saved_image = current_user.image.attached? && current_user.image.blob.persisted? %>
          <div class="d-flex align-items-center gap-3">
            <% avatar_src = is_user_with_saved_image ? url_for(current_user.image.variant(:web)) : '/images/person.jpg' %>
            <%=
              image_tag(
                avatar_src,
                role: 'button',
                class: 'avatar-100 object-fit-cover',
                data: { action: 'click->form#openFileDialog', form_target: 'avatar' },
                alt: t('.click_on_photo_to_change'),
              )
            %>
            <%=
              form.file_field(
                :image,
                class: 'd-none',
                accept: 'image/jpeg,image/png,image/webp',
                data: { action: 'change->form#previewAvatar', form_target: 'fileInput' },
              )
            %>
            <small class="text-body-secondary"><%= t '.click_on_photo_to_change' %></small>
          </div>
          <div class="invalid-feedback d-block"><%= current_user.errors[:image].join(', ') %></div>
        </div>
        <% if is_user_with_saved_image %>
          <div class="form-check form-switch mt-2">
            <%= check_box_tag :delete_image, class: 'form-check-input', role: 'switch', 'data-action' => 'change->form#toggleBlock' %>
            <%= label_tag :delete_image, t('.delete_image'), class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
      <div class="mt-2">
        <%= form.label :first_name, class: 'col-form-label text-capitalize fw-light' %>
        <% is_first_name_invalid = current_user.errors.key?(:first_name) %>
        <%= form.text_field :first_name, class: "form-control #{'is-invalid' if is_first_name_invalid}", required: true %>
        <% if is_first_name_invalid %>
          <div class="invalid-feedback d-block"><%= current_user.errors[:first_name].join(', ') %></div>
        <% end %>
      </div>
      <div class="mt-2">
        <%= form.label :last_name, class: 'form-label text-capitalize fw-light' %>
        <% is_last_name_invalid = current_user.errors.key?(:last_name) %>
        <%= form.text_field :last_name, class: "form-control #{'is-invalid' if is_last_name_invalid}", required: true %>
        <% if is_last_name_invalid %>
          <div class="invalid-feedback d-block"><%= current_user.errors[:last_name].join(', ') %></div>
        <% end %>
      </div>
      <%= form.fields_for :athlete do |athlete_form| %>
        <div class="mt-2">
          <%= athlete_form.label :event_id, class: 'form-label text-capitalize fw-light' %>
          <%= athlete_form.combobox :event_id, search_events_path, id: 'event-id-box' %>
        </div>
        <div class="mt-2">
          <%= athlete_form.label :club_id, class: 'form-label text-capitalize fw-light' %>
          <%= athlete_form.combobox :club_id, search_clubs_path, id: 'club-id-box' %>
        </div>
        <div class="mt-2">
          <h5 class="fw-light"><%= t '.personal_bests' %></h5>
          <div class="input-group mt-2">
            <span class="input-group-text">
              <%= tag.i class: ['fa-solid fa-stopwatch', current_user.athlete.errors.key?(:personal_best_10k) ? 'text-danger' : 'text-secondary'] %>
            </span>
            <%=
              athlete_form.text_field :personal_best_10k,
              id: 'personal-record-10k-input',
              class: 'form-control',
              pattern: '[0-9]{2}:[0-9]{2}:[0-9]{2}',
              placeholder: t('.personal_best_format_hint'),
              inputmode: 'numeric',
              data: { controller: 'time-input' }
            %>
            <span class="input-group-text text-primary font-monospace">&nbsp;&nbsp;<%= t '.personal_best_10k' %></span>
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text">
              <%= tag.i class: ['fa-solid fa-stopwatch', current_user.athlete.errors.key?(:personal_best_half_marathon) ? 'text-danger' : 'text-secondary'] %>
            </span>
            <%=
              athlete_form.text_field :personal_best_half_marathon,
              class: 'form-control',
              pattern: '[0-9]{2}:[0-9]{2}:[0-9]{2}',
              placeholder: t('.personal_best_format_hint'),
              inputmode: 'numeric',
              data: { controller: 'time-input' }
            %>
            <span class="input-group-text text-primary font-monospace"><%= t '.personal_best_half_marathon' %></span>
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text">
              <%= tag.i class: ['fa-solid fa-stopwatch', current_user.athlete.errors.key?(:personal_best_marathon) ? 'text-danger' : 'text-secondary'] %>
            </span>
            <%=
              athlete_form.text_field :personal_best_marathon,
              class: 'form-control',
              pattern: '[0-9]{2}:[0-9]{2}:[0-9]{2}',
              placeholder: t('.personal_best_format_hint'),
              inputmode: 'numeric',
              data: { controller: 'time-input' }
            %>
            <span class="input-group-text text-primary font-monospace"><%= t '.personal_best_marathon' %></span>
          </div>
        </div>
      <% end %>
      <div class="mt-3 rounded-3 p-3 bg-warning-subtle border">
        <h5 class="fw-light"><%= t '.emergency_contact' %></h5>
        <div class="mb-2">
          <% is_emergency_contact_name_invalid = current_user.errors.key?(:emergency_contact_name) %>
          <%= form.label :emergency_contact_name, class: 'form-label text-capitalize fw-light' %>
          <%= form.text_field :emergency_contact_name, class: "form-control #{'is-invalid' if is_emergency_contact_name_invalid}" %>
          <% if is_emergency_contact_name_invalid %>
            <div class="invalid-feedback d-block"><%= current_user.errors[:emergency_contact_name].join(', ') %></div>
          <% end %>
        </div>

        <div>
          <% is_emergency_contact_phone_invalid = current_user.errors.key?(:emergency_contact_phone) %>
          <%= form.label :emergency_contact_phone, class: 'form-label text-capitalize fw-light' %>
          <%= form.text_field :emergency_contact_phone, class: "form-control #{'is-invalid' if is_emergency_contact_phone_invalid}", placeholder: t('.phone_placeholder') %>
          <% if is_emergency_contact_phone_invalid %>
            <div class="invalid-feedback d-block"><%= current_user.errors[:emergency_contact_phone].join(', ') %></div>
          <% end %>
        </div>
      </div>

      <div class="mt-3 rounded-3 p-3 bg-body-tertiary border">
        <h5 class="fw-light"><%= t '.promotions.title' %></h5>
        <% if current_user.phone %>
          <% User::AVAILABLE_PROMOTIONS.each do |name| %>
            <div class="form-check form-switch mt-3">
              <%= check_box_tag 'user[promotions][]',
                                name,
                                current_user.promotions.include?(name),
                                class: 'form-check-input',
                                role: 'switch',
                                'data-action' => 'change->form#showPromotionModal',
                                'data-promotion-key' => name %>
              <%= label_tag 'user[promotions][]', t(".promotions.#{name}"), class: 'form-check-label' %>
            </div>
          <% end %>
          <div class="mt-4 form-check form-switch">
            <%= check_box_tag :delete_phone, class: 'form-check-input', role: 'switch' %>
            <%= label_tag :delete_phone, t('.delete_phone', phone: human_phone(current_user.phone)), class: 'form-check-label text-danger' %>
          </div>
        <% else %>
          <p><%= t '.add_phone_html', link: 'https://t.me/sat9am5kmbot' %></p>
        <% end %>
      </div>

      <div class="my-5">
        <button class="me-1 btn btn-outline-primary" type="submit" title="<%= t '.save' %>">
          <i class="fa-regular fa-circle-down"></i> <%= t '.save' %>
        </button>
        <%= link_to user_path, class: 'btn btn-light float-end' do %>
          <i class="fa-regular fa-circle-xmark"></i> <%= t '.cancel' %>
        <% end %>
      </div>

      <div class="modal fade" id="promotionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="promotionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="promotionModalLabel"><%= t '.promotion_terms' %></h5>
            </div>
            <div class="modal-body" id="promotionTerms"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= t '.disagree' %></button>
              <button type="button" class="btn btn-primary" data-action="form#agreeToPromotion"><%= t '.agree' %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
