<% head_info :title, t('.title') %>
<% head_info :description, t('.description', user_name: current_user.full_name) %>
<h2 class="mb-4"><%= t '.title' %></h2>
<%= turbo_frame_tag current_user do %>
  <div class="row">
    <div class="col-6 col-sm-auto">
      <%= image_tag user_image_url(current_user), class: 'avatar' %>
    </div>
    <div class="col-6 col-sm-4">
      <div class="d-flex flex-column">
        <div class="fs-2"><%= current_user.first_name %></div>
        <div class="fs-2"><%= current_user.last_name %></div>
        <div class="mt-3">
          <%= link_to edit_user_path, class: 'icon-link btn btn-outline-primary', title: 'Изменить' do %>
            <i class="fa-solid fa-pen-to-square"></i> Изменить
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
