<% percent = 10.0 * seconds_in_results_count / 6 %>
<div class="pt-2 px-1">
  <div class="progress-pie-badge<%= ' ppb-gt-50' if percent > 50 %>">
    <div class="ppb-progress">
      <div class="ppb-progress-fill" style="transform: rotate(<%= 360 * percent / 100 %>deg);"></div>
    </div>
    <div class="ppb-info">
      <div class="ppb-info-wrapper">
        <span>
          <a href="#" class="stretched-link link-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#minuteBingoModal"><%= seconds_in_results_count %> <%= t '.from_minute' %></a> - <%= t '.catch_them_all' %>!
        </span>
      </div>
    </div>
  </div>
</div>
