<tr>
  <td><%= @total_results - result_counter %></td>
  <td><%= link_to l(result.activity.date), activity_path(result.activity_id) %></td>
  <td><%= human_result_time(result.total_time) %></td>
  <td class="hidden-on-phone"><%= human_result_pace(result.total_time) %></td>
  <td class="hidden-on-phone"><%= result.position %></td>
  <td><%= link_to result.activity.event.name, event_path(code_name: result.activity.event.code_name) %></td>
</tr>
