<% head_info :description, t('.description') %>
<h2><%= head_info :title, t('.title') %></h2>
<% if @athletes.size.positive? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <td><%= t '.name' %></td>
        <td><%= t '.club' %></td>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @athletes.includes(:club).each do |athlete| %>
        <tr>
          <td><%= link_to athlete.name, athlete %></td>
          <td><%= athlete.club&.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= t '.athletes_count', count: @athletes.size %></p>
<% else %>
  <p><%= t '.nothing_found' %></p>
<% end %>
