<h2>Результаты поиска</h2>
<% if @athletes.size.positive? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Имя</td>
        <td>Parkrun ID</td>
        <td>5 вёрст ID</td>
        <td class="hidden-on-phone">Клуб</td>
      </tr>
    </thead>
    <tbody>
      <% @athletes.each do |athlete| %>
        <tr>
          <td><%= link_to athlete.name, athlete_path(athlete) %></td>
          <td><%= athlete.parkrun_code || 'нет' %></td>
          <td><%= athlete.fiveverst_code || 'нет' %></td>
          <td class="hidden-on-phone"><%= athlete.club&.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>Всего найдено <%= @athletes.size %> уч.
<% else %>
  <p>К сожалению, ничего не найдено.</p>
<% end %>
