<h1>
  <%= @athlete.name %>
  <% if @athlete.club %>
    <span class="badge bg-light"><%= link_to @athlete.club.name, @athlete.club, style: 'text-decoration: none;' %></span>
  <% end %>
  <% athlete_code = @athlete.parkrun_code || @athlete.fiveverst_code %>
  <% if athlete_code %>
    <button type="button" class="btn btn-outline-primary btn-light ms-2" data-bs-toggle="modal" data-bs-target="#barcodeModal">
      <i class="bi bi-upc-scan"></i>
    </button>
  <% end %>
</h1>

<% if @athlete.trophies.exists? %>
  <div class="d-flex justify-content-start flex-wrap">
    <% @athlete.trophies.each do |trophy| %>
      <div class="p-1">
        <%= link_to badges_path do
              image_tag trophy.badge.picture_link, class: 'trophy'
            end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @total_results.zero? %>
  <p>Пока нет результатов.</p>
<% else %>
  <h2>Все забеги</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Дата</th>
        <th>Время</th>
        <th class="hidden-on-phone">Темп</th>
        <th class="hidden-on-phone">Место</th>
        <th>Мероприятие</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render partial: 'result', collection: @athlete.results.published.includes(activity: :event).order('activity.date DESC'), cached: true %>
    </tbody>
  </table>

  <h2>Общая статистика</h2>
  <div class="accordion accordion-flush" id="accordionPersonalBest">
    <% pb = @athlete.personal_best %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-personalBestAbsolute">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePersonalBestAbsolute" aria-expanded="false" aria-controls="flush-collapsePersonalBestAbsolute">
          <span class="badge text-bg-ligth bg-primary me-3"><%= human_result_time pb.total_time %></span>
          лучший результат
        </button>
      </h2>
      <div id="flush-collapsePersonalBestAbsolute" class="accordion-collapse collapse" aria-labelledby="flush-personalBestAbsolute" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <div class="hstack">
            <div class="acc-li-s">
              <%= link_to l(pb.activity.date), activity_path(pb.activity_id) %>
            </div>
            <div class="ms-3">
              <%= link_to pb.activity.event.name, event_path(code_name: pb.activity.event.code_name) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% pb = @athlete.personal_best(:position) %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-bestPositionAbsolute">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBestPositionAbsolute" aria-expanded="false" aria-controls="flush-collapseBestPositionAbsolute">
          <span class="badge text-bg-ligth bg-primary me-3"><%= pb.position %></span>
          лучшее место
        </button>
      </h2>
      <div id="flush-collapseBestPositionAbsolute" class="accordion-collapse collapse" aria-labelledby="flush-bestPositionAbsolute" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <div class="hstack">
            <div class="acc-li-s">
              <%= link_to l(pb.activity.date), activity_path(pb.activity_id) %>
            </div>
            <div class="ms-3">
              <%= link_to pb.activity.event.name, event_path(code_name: pb.activity.event.code_name) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h2>Волонтёрства</h2>
<% if @total_vol.zero? %>
  <p>Пока не было волонтёрств.</p>
<% else %>
  <p>
    Всего волонтёрств <%= @total_vol %>.
    Коэффициент волонтёра:
    <abbr title="Число волонтёрств  на каждые 5 пробежек" class="initialism">
      <% if @total_results.zero? %>
        <i class="bi bi-infinity"></i>
      <% else %>
        <%= (@total_vol * 5.0 / @total_results).round(1) %>
      <% end %>
    </abbr>.
  </p>
  <div class="accordion accordion-flush" id="accordionRoles">
    <% @athlete.volunteering.pluck(:role).uniq.each do |role| %>
      <% volunteering = @athlete.volunteering.includes(activity: :event).where(role: role) %>
      <div class="accordion-item">
        <h2 id="flush-heading-<%= role %>" class="accordion-header">
          <button class="accordion-button collapsed position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= role %>" aria-expanded="false" aria-controls="flush-collapse-<%= role %>">
            <span class="badge text-bg-ligth bg-primary me-3"><%= volunteering.size %></span>
            <%= human_volunteer_role role %>
          </button>
        </h2>
        <div id="flush-collapse-<%= role %>" class="accordion-collapse collapse" aria-labelledby="flush-heading-<%= role %>" data-bs-parent="#accordionRoles">
          <div class="accordion-body">
            <ul class="list-group list-group-flush">
              <% volunteering.each do |vol| %>
                <li class="list-group-item">
                  <div class="hstack">
                    <div class="acc-li-s">
                      <%= link_to l(vol.activity.date), activity_path(vol.activity_id) %>
                    </div>
                    <div class="ms-3">
                      <%= link_to vol.activity.event.name, event_path(code_name: vol.activity.event.code_name) %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="barcodeModal" tabindex="-1" aria-labelledby="barcodeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="barcodeModalLabel">A<%= athlete_code %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div><%== @barcode %></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
