<h1>
  <%= @athlete.name %>
  <% if @athlete.club %>
    <span class="badge bg-light"><%= link_to @athlete.club.name, @athlete.club, style: 'text-decoration: none;' %></span>
  <% end %>
</h1>

<% if @athlete.trophies.exists? %>
  <div class="row row-cols-3 row-cols-md-6">
    <% @athlete.trophies.each do |trophy| %>
      <div class="col">
        <div class="card p-2">
          <%= image_tag trophy.badge.picture_link, class: "card-img-top" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<h2>Все забеги</h2>
<% if @total_results.zero? %>
  <p>Пока не было результатов.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Дата</th>
        <th>Время</th>
        <th class="hidden-on-phone">Место</th>
        <th>Мероприятие</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'result', collection: @athlete.results.published.includes(activity: :event).order('activity.date DESC'), cached: true %>
    </tbody>
  </table>
<% end %>

<h2>Волонтёрства</h2>
<% if @total_vol.zero? %>
  <p>Пока не было волонтёрств.</p>
<% else %>
  <p>Всего волонтёрств <%= @total_vol %>.</p>
  <div class="accordion accordion-flush" id="accordionRoles">
    <% @athlete.volunteering.pluck(:role).uniq.each do |role| %>
      <% volunteering = @athlete.volunteering.includes(activity: :event).where(role: role) %>
      <div class="accordion-item">
        <h2 id=<%= "flush-heading-#{role}" %> class="accordion-header">
          <button class="accordion-button collapsed position-relative" type="button" data-bs-toggle="collapse" data-bs-target=<%= "#flush-collapse-#{role}" %> aria-expanded="false" aria-controls=<%= "flush-collapse-#{role}" %>>
            <span class="badge text-bg-secondary bg-primary me-3"><%= volunteering.size %></span>
            <%= human_volunteer_role role %>
          </button>
        </h2>
        <div id=<%= "flush-collapse-#{role}" %> class="accordion-collapse collapse" aria-labelledby=<%= "flush-heading-#{role}" %> data-bs-parent="#accordionRoles">
          <div class="accordion-body">
            <ul class="list-group list-group-flush">
              <% volunteering.each do |vol| %>
                <li class="list-group-item">
                  <div class="hstack">
                    <div>
                      <%= link_to l(vol.activity.date), activity_path(vol.activity_id) %>
                    </div>
                    <div class="ms-auto">
                      <%= link_to vol.activity.event.name, event_path(code_name: vol.activity.event.code_name) %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
