<% athlete_name = @athlete.name || t('common.nobody') %>
<% head_info :title, athlete_name %>
<% head_info :description, t('.description', athlete_name:) %>

<h1>
  <%= athlete_name %>
  <button type="button" class="btn btn-outline-primary btn-light float-end float-md-none ms-md-3 mb-2" data-bs-toggle="modal" data-bs-target="#barcodeModal">
    <i class="bi bi-upc-scan"></i>
  </button>
</h1>

<div class="accordion accordion-flush" id="accordionPersonalBest" data-controller="athlete">
  <% if @athlete.club %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-club">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseClub" aria-expanded="false" aria-controls="flush-collapseClub">
          <span class="badge text-bg-ligth bg-primary me-3"><%= @athlete.club.name %></span>
          клуб
        </button>
      </h2>
      <div id="flush-collapseClub" class="accordion-collapse collapse" aria-labelledby="flush-club" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          Посмотреть статистику клуба <%= link_to @athlete.club.name, @athlete.club %>.
        </div>
      </div>
    </div>
  <% end %>
  <% if @total_results.positive? %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-totalResults">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTotalResults" aria-expanded="false" aria-controls="flush-collapseTotalResults">
          <span class="badge text-bg-ligth bg-primary me-3"><%= @total_results %></span>
          всего пробежек
        </button>
      </h2>
      <div id="flush-collapseTotalResults" class="accordion-collapse collapse" aria-labelledby="flush-totalResults" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <div class="d-flex flex-wrap justify-content-around">
            <div id="chart-results" class="col-12 col-md-10 col-xl-8"></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @total_vol.positive? %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-totalVolunteering">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTotalVolunteering" aria-expanded="false" aria-controls="flush-collapseTotalVolunteering">
          <span class="badge text-bg-ligth bg-primary me-3"><%= @total_vol %></span>
          всего волонтёрств
        </button>
      </h2>
      <div id="flush-collapseTotalVolunteering" class="accordion-collapse collapse" aria-labelledby="flush-totalVolunteering" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="hstack">
                <div class="acc-li-s">Волонтёрский h-индекс</div>
                <div class="mx-3">
                  <abbr title="Индекс равен h, если есть как минимум h позиций, на каждой из которых было как минимум h волонтёрств." class="initialism">
                    <%= @volunteering.group(:role).reorder(count_all: :desc).count.values.map.with_index.take_while { |count, idx| count > idx }.size %>
                  </abbr>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="hstack">
                <div class="acc-li-s">Коэффициент волонтёра</div>
                <div class="mx-3">
                  <abbr title="Число волонтёрств  на каждые 10 пробежек" class="initialism">
                    <% if @total_results.zero? %>
                      <i class="bi bi-infinity"></i>
                    <% else %>
                      <%= (@total_vol * 10.0 / @total_results).round(1) %>
                    <% end %>
                  </abbr>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <% if @total_trophies.positive? %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-totalTrophies">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTotalTrophies" aria-expanded="false" aria-controls="flush-collapseTotalTrophies">
          <span class="badge text-bg-ligth bg-primary me-3"><%= @total_trophies %></span>
          всего наград
        </button>
      </h2>
      <div id="flush-collapseTotalTrophies" class="accordion-collapse collapse" aria-labelledby="flush-totalTrophies" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <div class="d-flex justify-content-start flex-wrap">
            <% @athlete.trophies.includes(:badge).each do |trophy| %>
              <div class="p-1">
                <%
                  trophy_link = link_to badge_path(trophy.badge) do
                    image_tag trophy.badge.picture_link, class: 'trophy'
                  end
                %>
                <% if trophy.badge.record_kind? %>
                  <% trophy.info['data'].each do |record_data| %>
                    <%= trophy_link %>
                  <% end %>
                <% else %>
                  <%= trophy_link %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @total_results.positive? %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-totalEvents">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTotalEvents" aria-expanded="false" aria-controls="flush-collapseTotalEvents">
          <span class="badge text-bg-ligth bg-primary me-3"><%= @total_events %></span>
          посещённые мероприятия
        </button>
      </h2>
      <div id="flush-collapseTotalEvents" class="accordion-collapse collapse" aria-labelledby="flush-totalEvents" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <div class="d-flex flex-wrap justify-content-around">
            <div id="chart-events-count" class="col-12 col-md-6 col-xl-4"></div>
            <div id="chart-events-whiskers" class="col-12 col-md-6 col-xl-4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <% pb_result = @pb_by_time.first %>
      <h2 class="accordion-header" id="flush-personalBestAbsolute">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePersonalBestAbsolute" aria-expanded="false" aria-controls="flush-collapsePersonalBestAbsolute">
          <span class="badge text-bg-ligth bg-primary me-3"><%= human_result_time pb_result.total_time %></span>
          лучший результат
        </button>
      </h2>
      <div id="flush-collapsePersonalBestAbsolute" class="accordion-collapse collapse" aria-labelledby="flush-personalBestAbsolute" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <table class="table">
            <thead>
              <tr>
                <th>ЛР</th>
                <th>Δ</th>
                <th>Дата</th>
                <th>Мероприятие</th>
              </tr>
            </thead>
            <tbody>
              <% @pb_by_time.includes(activity: :event).to_a.push(nil).each_cons(2) do |pb, pb_prev| %>
                <tr>
                  <td><%= human_result_time pb.total_time %></td>
                  <td>
                    <% if pb_prev %>
                      <% delta = (pb_prev.total_time - pb.total_time).to_i %>
                      <%= format('%d:%02d', delta / 60, delta % 60) %>
                    <% end %>
                  </td>
                  <td><%= link_to l(pb.activity.date), pb.activity %></td>
                  <td><%= link_to pb.activity.event_name, event_path(pb.activity.event.code_name) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-bestPositionAbsolute">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBestPositionAbsolute" aria-expanded="false" aria-controls="flush-collapseBestPositionAbsolute">
          <span class="badge text-bg-ligth bg-primary me-3"><%= @best_position %></span>
          лучшее место
        </button>
      </h2>
      <div id="flush-collapseBestPositionAbsolute" class="accordion-collapse collapse" aria-labelledby="flush-bestPositionAbsolute" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <% @pb_by_position.each do |pb| %>
              <li class="list-group-item">
                <div class="hstack">
                  <div class="acc-li-s">
                    <%= link_to l(pb.activity.date), pb.activity %>
                  </div>
                  <div class="mx-3">
                    <%= human_result_time pb.total_time %>
                  </div>
                  <div>
                    <%= link_to pb.activity.event_name, event_path(pb.activity.event.code_name) %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @total_results.zero? %>
  <p>Пока нет результатов.</p>
<% else %>
  <h2 class="mt-3">Результаты</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Дата</th>
        <th>Время</th>
        <th class="hidden-on-phone">Темп</th>
        <th class="hidden-on-phone">Место</th>
        <th>Мероприятие</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render partial: 'result', collection: @athlete.results.published.includes(activity: :event).order('activity.date DESC') %>
    </tbody>
  </table>
  <%= render partial: '/expand_button' if @total_results > 15 %>
<% end %>

<h2>Волонтёрства</h2>
<% if @total_vol.zero? %>
  <p>Пока не было волонтёрств.</p>
<% else %>
  <div class="accordion accordion-flush" id="accordionRoles">
    <% @volunteering.pluck(:role).uniq.each do |role| %>
      <% volunteering_in_role = @volunteering.includes(activity: :event).where(role:) %>
      <div class="accordion-item">
        <h2 id="flush-heading-<%= role %>" class="accordion-header">
          <button class="accordion-button collapsed position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= role %>" aria-expanded="false" aria-controls="flush-collapse-<%= role %>">
            <span class="badge text-bg-ligth bg-primary me-3"><%= volunteering_in_role.size %></span>
            <%= human_volunteer_role role %>
          </button>
        </h2>
        <div id="flush-collapse-<%= role %>" class="accordion-collapse collapse" aria-labelledby="flush-heading-<%= role %>" data-bs-parent="#accordionRoles">
          <div class="accordion-body">
            <ul class="list-group list-group-flush">
              <% volunteering_in_role.each do |vol| %>
                <li class="list-group-item">
                  <div class="hstack">
                    <div class="acc-li-s">
                      <%= link_to l(vol.activity.date), vol.activity %>
                    </div>
                    <div class="ms-3">
                      <%= link_to vol.activity.event_name, event_path(vol.activity.event.code_name) %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="barcodeModal" tabindex="-1" aria-labelledby="barcodeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="barcodeModalLabel">A<%= @athlete.code %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div><%== @barcode %></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
