<%
  athlete_name = @athlete.name || t('common.nobody')
  seconds_in_results = @athlete.stats.dig('results', 'seconds') || []
  seconds_in_results_count = seconds_in_results.size
%>
<% head_info :description, t('.description', athlete_name:) %>

<div class="row">
  <div class="col-6">
    <h1 class="mt-2"><%= head_info :title, athlete_name %></h1>
    <% if @athlete.going_to_event? %>
      <div class="badge bg-success mb-2">
        <%= t 'friendships.friend.going_to', event: @athlete.going_to_event.name %>
      </div>
    <% end %>
    <%= render 'friendships/button', athlete: @athlete %>
  </div>
  <div class="ms-auto col-auto position-relative">
    <%= image_tag user_image_path(@athlete.user), class: 'avatar', title: athlete_name %>
    <div class="position-absolute top-0 end-0 me-2">
      <a href="#" class="btn btn-outline-primary rounded-circle" role="button" data-bs-toggle="modal" data-bs-target="#barcodeModal">
        <i class="fa-solid fa-qrcode" title="QR"></i>
      </a>
    </div>
  </div>
</div>

<div class="accordion accordion-flush" id="accordionPersonalBest">
  <div class="accordion-item">
    <%= turbo_frame_tag 'friends_list', src: friends_athlete_statistics_path(@athlete) do %>
      <h2 class="accordion-header" id="flush-friends">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFriends" aria-expanded="false" aria-controls="flush-collapseFriends">
          <span class="badge text-light bg-primary me-3" id="friends-counter">&nbsp</span>
          <%= t('.friends') %>
        </button>
      </h2>
    <% end %>
  </div>

  <div class="accordion-item">
    <%= turbo_frame_tag 'followers_list', src: followers_athlete_statistics_path(@athlete) do %>
      <h2 class="accordion-header" id="flush-followers">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFollowers" aria-expanded="false" aria-controls="flush-collapseFollowers">
          <span class="badge text-light bg-primary me-3" id="followers-counter">&nbsp</span>
          <%= t('.followers') %>
        </button>
      </h2>
    <% end %>
  </div>
  <% if @athlete.club %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-club">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseClub" aria-expanded="false" aria-controls="flush-collapseClub">
          <span class="badge text-light bg-primary me-3"><i class="fa-solid fa-people-group"></i></span>
          <%= @athlete.club.name %>
        </button>
      </h2>
      <div id="flush-collapseClub" class="accordion-collapse collapse" aria-labelledby="flush-club" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <%= t '.show_club_html', link: link_to(@athlete.club.name, @athlete.club) %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @total_results.positive? %>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-totalResults">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTotalResults" aria-expanded="false" aria-controls="flush-collapseTotalResults">
            <span class="badge text-light bg-primary me-3"><%= @total_results %></span>
            <%= t '.total_results' %>
          </button>
        </h2>
        <div id="flush-collapseTotalResults" class="accordion-collapse collapse" aria-labelledby="flush-totalResults" data-bs-parent="#accordionPersonalBest">
          <div class="accordion-body">
            <%= turbo_frame_tag 'total_results', src: total_results_athlete_statistics_path(@athlete), loading: 'lazy' do %>
              <%= render '/loading_indicator' %>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
  <% if @total_vol.positive? %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-totalVolunteering">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTotalVolunteering" aria-expanded="false" aria-controls="flush-collapseTotalVolunteering">
          <span class="badge text-light bg-primary me-3"><%= @total_vol %></span>
          <%= t '.total_volunteering' %>
        </button>
      </h2>
      <div id="flush-collapseTotalVolunteering" class="accordion-collapse collapse" aria-labelledby="flush-totalVolunteering" data-bs-parent="#accordionPersonalBest">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="hstack">
                <div class="acc-li-s"><%= t '.h_index' %></div>
                <div class="mx-3">
                  <abbr title="<%= t '.h_index_explanation' %>" class="initialism">
                    <%= @volunteering.group(:role).reorder(count_all: :desc).count.values.map.with_index.take_while { |count, idx| count > idx }.size %>
                  </abbr>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="hstack">
                <div class="acc-li-s"><%= t '.volunteering_coefficient' %></div>
                <div class="mx-3">
                  <abbr title="<%= t '.volunteering_coefficient_explanation' %>" class="initialism">
                    <% if @total_results.zero? %>
                      <i class="fa-solid fa-infinity"></i>
                    <% else %>
                      <%= (@total_vol * 10.0 / @total_results).round(1) %>
                    <% end %>
                  </abbr>
                </div>
              </div>
            </li>
          </ul>
          <div class="mt-2 d-flex flex-wrap justify-content-around" data-controller="volunteer">
            <table class="d-none">
              <%
                history_stats = @athlete.volunteering.where(activity: { date: 5.months.ago.beginning_of_month.. }).unscope(:order).group(:role, Arel.sql("date_part('month', date)")).count.each_with_object({}) do |(k, v), h|
                  h[k.first] ||= Array.new(6, 0)
                  h[k.first][5 - ((Date.current.mon - k.last) % 12)] = v
                end
              %>
              <tbody>
                <% history_stats.each do |role, stats| %>
                  <tr data-volunteer-target="data">
                    <th><%= human_volunteer_role role %></th>
                    <% stats.each do |stat| %>
                      <td><%= stat %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="col-12 col-md-10 col-xl-8" data-volunteer-target="chart"></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-totalTrophies">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTotalTrophies" aria-expanded="false" aria-controls="flush-collapseTotalTrophies">
        <span class="badge text-light bg-primary me-3"><%= @total_trophies %></span>
        <%= t '.total_trophies' %>
      </button>
    </h2>
    <div id="flush-collapseTotalTrophies" class="accordion-collapse collapse" aria-labelledby="flush-totalTrophies" data-bs-parent="#accordionPersonalBest">
      <div class="accordion-body">
        <% if @total_trophies.positive? %>
          <%= turbo_frame_tag 'total_trophies', src: total_trophies_athlete_statistics_path(@athlete), loading: 'lazy' do %>
            <%= render '/loading_indicator' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @total_results.positive? %>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-totalEvents">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTotalEvents" aria-expanded="false" aria-controls="flush-collapseTotalEvents">
            <span class="badge text-light bg-primary me-3"><%= @total_events_count %></span>
            <%= t '.total_events' %>
          </button>
        </h2>
        <div id="flush-collapseTotalEvents" class="accordion-collapse collapse" aria-labelledby="flush-totalEvents" data-bs-parent="#accordionPersonalBest">
          <div class="accordion-body">
            <%= turbo_frame_tag 'total_events', src: total_events_athlete_statistics_path(@athlete), loading: 'lazy' do %>
              <%= render '/loading_indicator' %>
            <% end %>
          </div>
        </div>
    </div>

    <div class="accordion-item">
      <%= turbo_frame_tag 'best_position_absolute', src: best_position_absolute_athlete_statistics_path(@athlete) do %>
        <h2 class="accordion-header" id="flush-bestPositionAbsolute">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBestPositionAbsolute" aria-expanded="false" aria-controls="flush-collapseBestPositionAbsolute">
            <span class="badge text-light bg-primary me-3">&nbsp</span>
            <%= t '.best_position' %>
          </button>
        </h2>
      <% end %>
    </div>

    <div class="accordion-item">
      <%= turbo_frame_tag 'personal_best_absolute', src: personal_best_absolute_athlete_statistics_path(@athlete) do %>
        <h2 class="accordion-header" id="flush-personalBestAbsolute">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePersonalBestAbsolute" aria-expanded="false" aria-controls="flush-collapsePersonalBestAbsolute">
            <span class="badge text-light bg-primary me-3">&nbsp</span>
            <%= t '.personal_best' %>
          </button>
        </h2>
      <% end %>
    </div>

    <% if @athlete.personal_record_10k || @athlete.personal_record_half_marathon || @athlete.personal_record_marathon || @time_predictions.any? %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-personalRecords">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePersonalRecords" aria-expanded="false" aria-controls="flush-collapsePersonalRecords">
            <span class="badge text-light bg-primary me-3 position-relative">
              <i class="fa-solid fa-trophy"></i>
              <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            </span>
            <%= t '.personal_records_section' %>
          </button>
        </h2>
        <div id="flush-collapsePersonalRecords" class="accordion-collapse collapse" aria-labelledby="flush-personalRecords" data-bs-parent="#accordionPersonalBest">
          <div class="accordion-body">
            <table class="table">
              <caption>
                <% unless @athlete.personal_record_10k || @athlete.personal_record_half_marathon || @athlete.personal_record_marathon %>
                  <%= t '.no_personal_records' %>
                <% end %>
                <% if @time_predictions.any? %>
                  <%= t '.prediction_hint' %>
                <% else %>
                  <%= t '.no_predictions' %>
                <% end %>
              </caption>
              <thead>
                <tr>
                  <th class="fs-small-sm"><%= t '.distance' %></th>
                  <th class="fs-small-sm"><%= t '.personal_record' %></th>
                  <th class="fs-small-sm"><%= t '.predicted_time' %></th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <td><%= t '.personal_record_10k' %></td>
                  <td><%= @athlete.personal_record_10k %></td>
                  <td><%= human_result_time @time_predictions[10] %></td>
                </tr>
                <tr>
                  <td><%= t '.personal_record_half_marathon' %></td>
                  <td><%= @athlete.personal_record_half_marathon %></td>
                  <td><%= human_result_time @time_predictions[21.1] %></td>
                </tr>
                <tr>
                  <td><%= t '.personal_record_marathon' %></td>
                  <td><%= @athlete.personal_record_marathon %></td>
                  <td><%= human_result_time @time_predictions[42.2] %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if @total_results.zero? %>
  <p class="my-3"><%= t '.no_results' %></p>
<% else %>
  <h2 class="mt-3"><%= t '.results' %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t '.table.date' %></th>
        <th><%= t '.table.time' %></th>
        <th class="hidden-on-phone"><%= t '.table.pace' %></th>
        <th class="hidden-on-phone"><%= t '.table.place' %></th>
        <th><%= t '.table.event' %></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render partial: 'result', collection: @athlete.results.published.includes(activity: :event).order('activity.date DESC') %>
    </tbody>
  </table>
  <%= render '/expand_button' if @total_results > 15 %>
<% end %>

<h2><%= t '.volunteering' %></h2>
<% if @total_vol.zero? %>
  <p><%= t '.no_volunteering' %></p>
<% else %>
  <div class="accordion accordion-flush" id="accordionRoles">
    <% @volunteering.pluck(:role).uniq.each do |role| %>
      <% volunteering_in_role = @volunteering.includes(activity: :event).where(role:) %>
      <div class="accordion-item">
        <h2 id="flush-heading-<%= role %>" class="accordion-header">
          <button class="accordion-button collapsed position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= role %>" aria-expanded="false" aria-controls="flush-collapse-<%= role %>">
            <span class="badge text-light bg-primary me-3"><%= volunteering_in_role.load.size %></span>
            <%= human_volunteer_role role %>
          </button>
        </h2>
        <div id="flush-collapse-<%= role %>" class="accordion-collapse collapse" aria-labelledby="flush-heading-<%= role %>" data-bs-parent="#accordionRoles">
          <div class="accordion-body">
            <ul class="list-group list-group-flush">
              <% volunteering_in_role.each do |vol| %>
                <li class="list-group-item">
                  <div class="hstack">
                    <div class="acc-li-s">
                      <%= link_to l(vol.activity.date), vol.activity %>
                    </div>
                    <div class="ms-3">
                      <%= link_to vol.activity.event_name, event_path(vol.activity.event.code_name) %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!-- Modal barcode -->
<div class="modal fade" id="barcodeModal" tabindex="-1" aria-labelledby="barcodeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="barcodeModalLabel">A<%= @athlete.code %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <%= @barcode %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= t '.close' %></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal minute bingo -->
<div class="modal fade" id="minuteBingoModal" tabindex="-1" aria-labelledby="minuteBingoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="minuteBingoModalLabel"><%= t '.mission_minute_bingo' %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="mx-auto">
          <% 6.times.each do |row| %>
            <tr>
              <% 10.times.each do |col| %>
                <% x = row * 10 + col %>
                <td class="text-<%= seconds_in_results.include?(x) ? 'primary' : 'light' %>"><%= format '%02d', x %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= t '.close' %></button>
      </div>
    </div>
  </div>
</div>
