<h1><%= @athlete.name %></h1>

<h2>Все забеги</h2>
<% if @total_results.zero? %>
  <p>Пока не было результатов.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Дата</th>
        <th>Результат</th>
        <th>Мероприятие</th>
      </tr>
    </thead>
    <tbody>
      <% @athlete.results.published.includes(:activity).order('activity.date DESC').each_with_index do |result, idx| %>
        <tr>
          <td><%= @total_results - idx %></td>
          <td><%= link_to result.activity.date, activity_path(result.activity_id) %></td>
          <td><%= human_result_time(result.total_time) %></td>
          <td><%= result.activity.event.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Волонтёрства</h2>
<% if @total_vol.zero? %>
  <p>Пока не было волонтёрств.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Дата</th>
        <th>Мероприятие</th>
        <th>Роль</th>
      </tr>
    </thead>
    <tbody>
      <% @athlete.volunteering.includes(:activity).order('activities.date DESC').each_with_index do |vol, idx| %>
        <tr>
          <td><%= @total_vol - idx %></td>
          <td><%= link_to vol.activity.date, activity_path(vol.activity_id) %></td>
          <td><%= vol.activity.event.name %></td>
          <td><%= vol.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
