<% unless @event.active %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
    <div>
      <strong>Внимание!</strong> Данное мероприятие в настоящее время не проводится. Следите за новостями в
      <a href="https://t.me/sat9am5km" class="alert-link">телеграм-канале</a>,
      а пока приходите на другие <a href='/' class="alert-link">наши пробежки</a>.
    </div>
  </div>
<% end %>

<div class="row mb-3 px-3">
  <div class="col-12 col-xxl-10 mx-auto position-relative px-0">
    <div class="position-absolute top-0 bg-dark bg-gradient bg-opacity-50 w-100 px-3 rounded-top">
      <h4 class="text-white"><%= @event.name %></h4>
    </div>
    <%= image_tag @event.main_picture_link || 'big_logo.png', class: 'img-fluid rounded', alt: 'Фото места проведения', title: @event.place %>
  </div>
</div>

<p><%= @event.description %></p>
<h4>Наши контакты</h4>
<ul class="list-group list-group-flush">
  <% @event.contacts.each do |contact| %>
    <li class="list-group-item">
      <%= sanitize link_to(I18n.t("activerecord.attributes.contact.contact_types.#{contact.contact_type}"), contact.link.html_safe, target: '_blank', rel: 'noopener') %>
    </li>
  <% end %>
</ul>

<h2>Результаты</h2>
<div class="row">
  <div class="col-12">
    <% if @total_activities.zero? %>
      <p>Пока ещё тут нет загруженных и опубликованных результатов.</p>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>📅 Дата</th>
            <th class="text-center">👟 Участники</th>
            <th class="hidden-on-phone text-center">🦺 Волонтёры</th>
            <th class="hidden-on-phone">🏃&nbsp;Первый</th>
            <th class="hidden-on-phone">🏃‍♀️&nbsp;Первая</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <%= render partial: 'activity', collection: @event.activities.published.order(date: :desc), cached: true %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <h3>Как принять участие?</h3>
    <p>
      Бесплатные старты на 5 км для всех каждую субботу с фиксацией времени. Дистанцию можно пробежать, пройти пешком,
      либо <a href="<%= volunteering_event_path(@event.code_name) %>">попробовать себя в качестве организатора-волонтёра</a>.
      У нас рады всем вне зависимости от возраста и уровня подготовки.
    </p>
  </div>
  <div class="col-12 col-md-4">
    <h3>Как нас найти?</h3>
    <p>
      <%= @event.place %>
    </p>
  </div>
  <div class="col-12 col-md-4">
    <h3>Сколько стоит?</h3>
    <p>
      Наши забеги всегда были и будут бесплатными для всех. Мы проводим их силами волонтёров.
    </p>
  </div>
</div>
