<% head_info :title, t('.title', event: @event.name) %>
<% head_info :description, t('.description', event: @event.name) %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('.main_page'), root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @event.name, event_path(@event.code_name) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= t '.main_title' %></li>
  </ol>
</nav>

<h1><%= t '.main_title' %></h1>

<p>
  Мы будем очень признательны вам, если вы сможете оказать нам волонтёрскую помощь. Вы можете выбрать для себя
  интересное и посильное любому занятие, которое позволит раскрыть себя, поддержать друзей, отлично провести время.
</p>
<p>
  <% unless @activities.empty? %>
    Ниже вы можете посмотреть список <em>обязательных позиций</em>, а также увидеть какие из них уже выбраны.
  <% end %>
  <% if (tg_chat = @event.contacts.find_by(contact_type: :tg_chat)) %>
    Чтобы записаться, просто напишите в наш <%= sanitized_link_to('телеграм чат', tg_chat.link, target: '_blank', rel: 'noopener') %>.
  <% end %>
  Помимо этого, иногда руководители забегов принимают решение о наборе дополнительных волонтёров -
  следите за новостями, либо спрашивайте непосредственно в чате.
</p>

<ul class="nav nav-tabs" id="protocol" role="tablist">
  <% @activities.each_with_index do |activity, idx| %>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if idx.zero? %>" id="tab-<%= idx %>" data-bs-toggle="tab" data-bs-target="#tab-<%= idx %>-pane" type="button" role="tab" aria-controls="tab-<%= idx %>-pane" aria-selected="true">
        <%= l activity.date, format: :brief %>
      </button>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="protocolContent">
  <% @activities.each_with_index do |activity, idx| %>
    <div class="tab-pane fade show <%= 'active' if idx.zero? %>" id="tab-<%= idx %>-pane" role="tabpanel" aria-labelledby="tab-<%= idx %>" tabindex="<%= idx %>">
      <table class="table">
        <thead>
          <tr>
            <th><%= t '.role' %></th>
            <th><%= t '.volunteer' %></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% @event.volunteering_positions.each do |position| %>
            <% volunteers = activity.volunteers.includes(:athlete).public_send("#{position.role}_role").to_a %>
            <% [position.number, volunteers.size].max.times.each do |i| %>
              <tr>
                <td><%= human_volunteer_role position.role %></td>
                <td><%= render partial: 'cell', locals: { volunteer: volunteers[i], role: position.role, activity: activity } %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
