<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Главная', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @event.name, event_path(@event.code_name) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">График волонтёрств</li>
  </ol>
</nav>

<h1>График волонтёрств</h1>

<p>
  Мы будем очень признательны вам, если вы сможете оказать нам волонтёрскую помощь. Вы можете выбрать для себя
  интересное и посильное любому занятие, которое позволит раскрыть себя, поддержать друзей, отлично провести время.
</p>
<p>Ниже вы можете посмотреть, какие позиции уже выбраны. Чтобы записаться просто напишите в наш телеграм чат.</p>

<ul class="nav nav-tabs" id="protocol" role="tablist">
  <% @activities.each_with_index do |activity, idx| %>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= 'active' if idx.zero? %>" id="tab-<%= idx %>" data-bs-toggle="tab" data-bs-target="#tab-<%= idx %>-pane" type="button" role="tab" aria-controls="tab-<%= idx %>-pane" aria-selected="true">
      <%= l activity.date %>
    </button>
  </li>
  <% end %>
</ul>
<div class="tab-content" id="protocolContent">
  <% @activities.each_with_index do |activity, idx| %>
    <div class="tab-pane fade show <%= 'active' if idx.zero? %>" id="tab-<%= idx %>-pane" role="tabpanel" aria-labelledby="tab-<%= idx %>" tabindex="<%= idx %>">
      <table class="table">
        <thead>
          <tr>
            <th>Роль</th>
            <th>Волонтёр</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td>Координатор всего :)</td>
            <td><%= render partial: 'cell', locals: { volunteer: activity.volunteers.find_by(role: :director), role: :director, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :timer).to_a %>
          <tr>
            <td>Секундомер</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :timer, activity: activity } %></td>
          </tr>
          <tr>
            <td>Секундомер</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :timer, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :tokens).to_a %>
          <tr>
            <td>Выдача карточек позиций</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :tokens, activity: activity } %></td>
          </tr>
          <tr>
            <td>Помощь в раздаче карточек</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :tokens, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :scanner).to_a %>
          <% 6.times.each do |i| %>
            <tr>
              <td>Фиксация результата</td>
              <td><%= render partial: 'cell', locals: { volunteer: volunteers[i], role: :scanner, activity: activity } %></td>
            </tr>
          <% end %>
          <% volunteers = activity.volunteers.where(role: :marshal).to_a %>
          <tr>
            <td>Маршал на развороте</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :marshal, activity: activity } %></td>
          </tr>
          <tr>
            <td>Маршал на дамбе</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :marshal, activity: activity } %></td>
          </tr>
          <tr>
            <td>Маршал у розового слона</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[2], role: :marshal, activity: activity } %></td>
          </tr>
          <tr>
            <td>Маршал</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[3], role: :marshal, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :photograph).to_a %>
          <% 6.times.each do |i| %>
            <tr>
              <td>Фотограф</td>
              <td><%= render partial: 'cell', locals: { volunteer: volunteers[i], role: :photograph, activity: activity } %></td>
            </tr>
          <% end %>
          <tr>
            <td>Инструктаж новых участников</td>
            <td><%= render partial: 'cell', locals: { volunteer: activity.volunteers.find_by(role: :instructor), role: :instructor, activity: activity } %></td>
          </tr>
          <tr>
            <td>Проведение разминки</td>
            <td><%= render partial: 'cell', locals: { volunteer: activity.volunteers.find_by(role: :warm_up), role: :warm_up, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :marking_maker).to_a %>
          <% 6.times.each do |i| %>
            <tr>
              <td>Разметка трассы</td>
              <td><%= render partial: 'cell', locals: { volunteer: volunteers[i], role: :marking_maker, activity: activity } %></td>
            </tr>
          <% end %>
          <% volunteers = activity.volunteers.where(role: :results_handler).to_a %>
          <tr>
            <td>Обработка результатов</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :results_handler, activity: activity } %></td>
          </tr>
          <tr>
            <td>Обработка результатов</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :results_handler, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :event_closer).to_a %>
          <tr>
            <td>Замыкающий</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :event_closer, activity: activity } %></td>
          </tr>
          <tr>
            <td>Замыкающий</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :event_closer, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :marking_picker).to_a %>
          <tr>
            <td>Сбор разметки</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :marking_picker, activity: activity } %></td>
          </tr>
          <tr>
            <td>Сбор разметки</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :marking_picker, activity: activity } %></td>
          </tr>
          <tr>
            <td>Сбор разметки</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[2], role: :marking_picker, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :cards_sorter).to_a %>
          <tr>
            <td>Сортировка карточек</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :cards_sorter, activity: activity } %></td>
          </tr>
          <tr>
            <td>Сортировка карточек</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :cards_sorter, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :finish_maker).to_a %>
          <% 6.times.each do |i| %>
            <tr>
              <td>Организация финиша</td>
              <td><%= render partial: 'cell', locals: { volunteer: volunteers[i], role: :finish_maker, activity: activity } %></td>
            </tr>
          <% end %>
          <% volunteers = activity.volunteers.where(role: :attendant).to_a %>
          <tr>
            <td>Сопровождение (для детского забега)</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :attendant, activity: activity } %></td>
          </tr>
          <tr>
            <td>Сопровождение (для детского забега)</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :attendant, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :other).to_a %>
          <tr>
            <td>Помощь в подготовке забега</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :other, activity: activity } %></td>
          </tr>
          <tr>
            <td>Помощь в подготовке забега</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :other, activity: activity } %></td>
          </tr>
          <tr>
            <td>Ведущий велосипед</td>
            <td><%= render partial: 'cell', locals: { volunteer: activity.volunteers.find_by(role: :bike_leader), role: :bike_leader, activity: activity } %></td>
          </tr>
          <% volunteers = activity.volunteers.where(role: :pacemaker).to_a %>
          <tr>
            <td>Пейсмейкер</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[0], role: :pacemaker, activity: activity } %></td>
          </tr>
          <tr>
            <td>Пейсмейкер</td>
            <td><%= render partial: 'cell', locals: { volunteer: volunteers[1], role: :pacemaker, activity: activity } %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
