<% closest_date = @activity&.date ? l(@activity.date, format: :brief) : t('.closest_date') %>
<% head_info :title, t('.title', event: @event.name, date: closest_date) %>
<% head_info :description, t('.description', event: @event.name, date: closest_date) %>
<%= turbo_stream_from :volunteers_roster %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('.main_page'), root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @event.name, event_path(@event.code_name) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= t '.main_title' %></li>
  </ol>
</nav>

<h1><%= t '.main_title' %></h1>

<p><%= t '.acknowledgements' %></p>
<p>
  <% unless @activities.empty? %>
    <%= t '.about_roster_html' %>
  <% end %>
  <% if @tg_chat %>
    <%= t '.how_to_participate_html', tg_chat_link: @tg_chat.link %>
  <% end %>
  <%= t '.additional_positions' %>
</p>

<% unless @activities.empty? %>
  <ul class="nav nav-tabs" id="protocol" role="tablist">
    <% @activities.each_with_index do |activity, idx| %>
      <li class="nav-item" role="presentation">
        <%=
          link_to(
            l(activity.date, format: :brief),
            volunteering_event_path(@event.code_name, activity_id: activity.id),
            class: "nav-link #{'active' if activity.id == @activity&.id || (idx.zero? && @activity.nil?)}",
            role: "tab",
          )
        %>
      </li>
    <% end %>
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th><%= t '.role' %></th>
        <th><%= t '.volunteer' %></th>
      </tr>
    </thead>
    <% if @activity %>
      <tbody class="table-group-divider" data-turbo-prefetch="false">
        <%
          all_volunteers = @activity.volunteers.includes(:athlete).to_a
          volunteering_positions = @event.volunteering_positions.order(:rank).to_a
          volunteering_positions_roles = volunteering_positions.map(&:role)
        %>
        <% volunteering_positions.each do |position| %>
          <% volunteers = all_volunteers.select { |v| v.role == position.role }.sort_by { |v| v.comment.to_s } %>
          <% [position.number, volunteers.size].max.times.each do |i| %>
            <%
              volunteer = volunteers[i]
              idx = "#{position.role}-#{i}-#{@activity.id}"
            %>
            <tr>
              <td><%= render partial: 'role', locals: { volunteer: volunteer, role: position.role, idx: idx } %></td>
              <td><%= render partial: 'volunteer', locals: { volunteer: volunteer, role: position.role, idx: idx, activity: @activity } %></td>
            </tr>
          <% end %>
        <% end %>
        <% all_volunteers.reject { |v| v.role.in?(volunteering_positions_roles) }.each do |volunteer| %>
          <% idx = "#{volunteer.role}-#{volunteer.id}-#{@activity.id}" %>
          <tr>
            <td><%= render partial: 'role', locals: { volunteer: volunteer, role: volunteer.role, idx: idx } %></td>
            <td><%= render partial: 'volunteer', locals: { volunteer: volunteer, role: volunteer.role, idx: idx, activity: @activity } %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% end %>
