<%= turbo_frame_tag 'ratings_table' do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t '.name' %></th>
        <th><%= t ".#{@order}" %></th>
        <th class="hidden-on-phone"><%= t '.club' %></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render partial: 'athlete', collection: @athletes %>
    </tbody>
  </table>
<% end %>
