<tr>
  <td class="pe-0 pe-md-2"><%= ((@page - 1) * RatingsController::PER_PAGE) + result_counter.next %></td>
  <% if @with_absolute_position %>
    <td class="pe-0 pe-md-2"><%= result.ranked_position %></td>
  <% end %>
  <td><%= human_result_time result.total_time %></td>
  <td class="ps-0 ps-md-2"><%= link_to result.athlete.name, result.athlete, class: 'athlete-link' %></td>
  <td class="ps-0 ps-md-2"><%= link_to l(result.date), result.activity %></td>
  <td>
    <% club = result.athlete&.club %>
    <%= link_to club.name, club if club %>
  </td>
  <td><%= link_to result.activity.event_name, event_path(result.activity.event.code_name) %></td>
</tr>
