<% athlete = runner.first %>
<tr>
  <td><%= runner_counter.next %></td>
  <td><%= link_to athlete.name, athlete, class: 'athlete-link' %></td>
  <td><%= runner.last %></td>
  <td><%= athlete.stats.dig('results', 'r_index') || 0 %></td>
  <td><%= athlete.stats.dig('results', 'uniq_events') || 0 %></td>
  <td class="hidden-on-phone"><%= link_to athlete.club.name, athlete.club if athlete.club %></td>
</tr>
