<% head_info :description, t('.description') %>
<h1><%= head_info :title, t(".#{@rating_type}.title") %></h1>

<div class="ratings-description mb-4">
  <p><%= t '.description' %></p>
  <div class="alert alert-info">
    <h2 class="alert-heading"><%= t '.order_types' %></h2>
    <% RatingsController::RATINGS.each do |order| %>
      <p class="mb-2">
        <strong><%= t(".#{order}") %>:</strong>
        <%= t(".#{@rating_type}.description.#{order}") %>
      </p>
    <% end %>
  </div>
</div>

<div
  data-controller="table"
  data-table-url-value="/ratings/table"
  data-table-params-value="order,type">
  <ul class="nav nav-pills nav-justified mb-3 hidden-scroll-x" role="tablist">
    <% RatingsController::RATINGS.each do |order| %>
      <li class="nav-item" role="presentation">
        <%=
          button_tag(
            class: "nav-link #{'active' if order == @order} px-2 text-nowrap",
            data: { table_target: 'tab', action: 'click->table#switchTab', order: order, type: @rating_type },
          ) do
        %>
          <%= t ".#{order}" %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t '.name' %></th>
        <th><%= t '.total' %></th>
        <th class="hidden-on-phone"><%= t '.club' %></th>
      </tr>
    </thead>
    <tbody class="table-group-divider" data-table-target="content">
      <%= render 'loading_indicator', colspan: 4 %>
    </tbody>
  </table>
</div>
