<% head_info :description, t('.description') %>
<h2><%= head_info :title, t('.title') %></h2>

<p><%= t '.description' %></p>

<%= form_with url: results_ratings_path, method: :get, html: { class: 'mt-4', role: 'search' } do |f| %>
  <%= f.hidden_field :gender, value: (params[:gender].presence || 'male'), id: 'gender-input' %>
  <div class="row g-2">
    <div class="col-12 col-sm-6 col-md-3">
      <%= f.text_field :name, value: params[:name], class: 'form-control', placeholder: t('.name_placeholder'), 'aria-label': t('.name_placeholder') %>
    </div>
    <div class="col-12 col-sm-6 col-md-3" data-controller="search-combobox" data-search-combobox-initial-id-value="<%= @club&.id %>" data-search-combobox-initial-name-value="<%= @club&.name %>">
      <%= f.combobox :club_id, search_clubs_path, id: 'club-id-box', placeholder: t('.club_placeholder') %>
    </div>
    <div class="col-12 col-sm-6 col-md-3" data-controller="search-combobox" data-search-combobox-initial-id-value="<%= @event&.id %>" data-search-combobox-initial-name-value="<%= @event&.name %>">
      <%= f.combobox :event_id, search_events_path, id: 'event-id-box', placeholder: t('.event_placeholder') %>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <button class="btn btn-outline-primary mb-2 me-2" type="submit"><%= t '.search_button' %></button>
      <%= link_to t('.reset_button'), results_ratings_path(gender: params.key?(:gender) ? params[:gender] : 'male'), id: 'results-reset', class: 'btn btn-outline-secondary mb-2' %>
    </div>
  </div>
<% end %>

<div
  class="mb-4"
  data-controller="table"
  data-table-url-value="<%= results_table_ratings_path %>"
  data-table-params-value="gender">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link <%= params[:gender] == 'female' ? '' : 'active' %>"
        type="button"
        role="tab"
        aria-controls="male"
        data-table-target="tab"
        data-gender="male"
        data-action="click->table#switchTab click->table#setGender">
        <%= t '.men' %>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link <%= params[:gender] == 'female' ? 'active' : '' %>"
        type="button"
        role="tab"
        aria-controls="female"
        data-table-target="tab"
        data-gender="female"
        data-action="click->table#switchTab click->table#setGender">
        <%= t '.women' %>
      </button>
    </li>
  </ul>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="pe-0 pe-md-2">#</th>
          <% if params[:name].present? %>
            <th scope="col" class="pe-0 pe-md-2"><%= t '.abs' %></th>
          <% end %>
          <th scope="col"><%= t '.result' %></th>
          <th scope="col" class="ps-0 ps-md-2"><%= t '.athlete' %></th>
          <th scope="col" class="ps-0 ps-md-2"><%= t '.date' %></th>
          <th scope="col"><%= t '.club' %></th>
          <th scope="col"><%= t '.event' %></th>
        </tr>
      </thead>
      <tbody class="table-group-divider" data-table-target="content">
        <%= render 'loading_indicator', colspan: params[:name].present? ? 7 : 6 %>
      </tbody>
    </table>
  </div>
</div>
