<% head_info :description, t('.description') %>
<h2><%= head_info :title, t('.title') %></h2>

<div class="my-4" data-controller="table">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        type="button"
        role="tab"
        aria-controls="male"
        aria-selected="true"
        data-table-target="tab"
        data-action="click->table#switchTab">
        <%= t '.men' %>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        type="button"
        role="tab"
        aria-controls="female"
        aria-selected="false"
        data-table-target="tab"
        data-action="click->table#switchTab">
        <%= t '.women' %>
      </button>
    </li>
  </ul>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="pe-0 pe-md-2">#</th>
        <th scope="col"><%= t '.result' %></th>
        <th scope="col" class="ps-0 ps-md-2"><%= t '.athlete' %></th>
        <th scope="col" class="ps-0 ps-md-2"><%= t '.date' %></th>
        <th scope="col" class="hidden-on-phone"><%= t '.club' %></th>
        <th scope="col" class="hidden-on-phone"><%= t '.event' %></th>
      </tr>
    </thead>
    <tbody class="table-group-divider" data-table-target="content">
      <%= render 'loading_indicator', colspan: 6 %>
    </tbody>
  </table>
</div>
