<% head_info :title, t('.title') %>
<% head_info :description, t('.description') %>
<h4><%= t '.title' %></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t '.name' %></th>
      <th class="hidden-on-phone"><%= t '.club' %></th>
      <th><%= t '.count' %></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render partial: 'volunteer', collection: @volunteers, cached: true %>
  </tbody>
</table>
