<%
  actual_events = @country_events.without_friends.pluck(:name)
  paragraphs = t '.paragraphs'
%>
<% head_info :description, t('.description') %>
<h1><%= head_info :title, t('navbars.about_s95.about') %></h1>

<% paragraphs.zip(VkPhotos.call(paragraphs.size)).each do |paragraph, photo| %>
  <p><%= paragraph %></p>
  <% if photo %>
    <p class="text-center"><%= image_tag photo, class: 'img-fluid',  alt: 'S95', loading: 'lazy' %></p>
  <% end %>
<% end %>

<p><%= t '.events', events_count: actual_events.size, events: actual_events.to_sentence %></p>

<h2><%= t '.s95_abroad.title' %></h2>
<%
  countries_links =
    Country
      .where.not(code: top_level_domain)
      .pluck(:code)
      .map { |code| external_link_to t("country.#{code}"), "https://s95.#{code}/" }
      .to_sentence
%>
<p><%= raw t '.s95_abroad.body', countries: countries_links %></p>
