<% actual_events = @country_events.without_friends.pluck(:name) %>
<% head_info :description, t('.description') %>
<h2><%= head_info :title, t('navbars.top.about') %></h2>

<%= t '.description_html' %>
<p><%= t '.events', events_count: actual_events.size, events: actual_events.to_sentence %></p>

<h4><%= t '.join_us.title' %></h4>
<%= t '.join_us.body_html', info_email: ENV['INFO_EMAIL'] %>

<h4><%= t '.s95_abroad.title' %></h4>
<%
  countries_links =
    Country
      .where.not(code: top_level_domain)
      .pluck(:code)
      .map { |code| external_link_to t("country.#{code}"), "https://s95.#{code}/" }
      .to_sentence
%>
<p><%= raw t '.s95_abroad.body', countries: countries_links %></p>

<div class="row justify-content-sm-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6">
    <div id="carouselControls" class="carousel slide my-3" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% VkPhotos.call(7).each_with_index do |photo, idx| %>
          <%= tag.div class: ['carousel-item', 'active' => idx.zero?] do %>
            <img src="<%= photo %>" class="d-block w-100" alt="Кузьминки" loading="lazy">
          <% end %>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><%= t '.back' %></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><%= t '.forward' %></span>
      </button>
    </div>
  </div>
</div>
