<% head_info :description, t('.description') %>
<% additional_events = Rails.configuration.additional_events %>
<h2><%= head_info :title, t('.title_html', year: additional_events[:year]) %></h2>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <table class="table">
      <thead>
        <tr>
          <th><%= t 'activities.index.event' %></th>
          <th><%= t '.time' %></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% if additional_events[:events].present? %>
          <% @country_events.where(code_name: additional_events[:events].keys).each do |event| %>
            <tr>
              <td><%= link_to event.name, event_path(event.code_name) %></td>
              <td><%= additional_events[:events][event.code_name.to_sym] %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2" class="text-center text-muted">
              Дополнительные события не настроены
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
