<% head_info :description, t('.description') %>
<h1><%= head_info :title, t('.title_html', year: 5.weeks.from_now.year) %></h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <table class="table">
      <thead>
        <tr>
          <th><%= t 'activities.index.event' %></th>
          <th><%= t '.time' %></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% additional_events = Rails.configuration.additional_events %>
        <% @country_events.where(code_name: additional_events.keys).each do |event| %>
          <tr>
            <td><%= link_to event.name, event_path(event.code_name) %></td>
            <td><%= additional_events[event.code_name.to_sym] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
