<% head_info :title, t('.title_html') %>
<% head_info :description, t('.description') %>
<h1><%= t '.title_html' %></h1>
<div class="row">
  <div class="col-md-6 offset-md-2">
    <table class="table">
      <thead>
        <tr>
          <td><%= t 'activities.index.event' %></td>
          <td><%= t 'activities.index.date' %></td>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% CSV.foreach(File.join(__dir__, 'additional_events.csv'), headers: true, header_converters: :symbol) do |row| %>
          <% next unless row[:domain] == top_level_domain %>

          <% event = Event.find_by!(code_name: row[:event_code]) %>
          <tr>
            <td><%= link_to event.name, event_path(event.code_name) %></td>
            <td><%= row[:time] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
