<%= render '/flash' %>
<h2><%= t '.our_events' %></h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <%= render partial: 'event', collection: @country_events, cached: true %>
</div>

<h2 class="mt-4"><%= t '.our_partners' %></h2>
<div class="partners">
  <%= external_link_to 'https://t.me/parkrun' do %>
    <% image_tag '/images/partners/pro_parkrun.png', class: 'img-partner', alt: 'Pro parkrun' %>
  <% end %>
  <% if top_level_domain == :ru %>
    <%= external_link_to 'https://go.grigri.ru/s95' do %>
      <% image_tag '/images/partners/grigri.png', class: 'img-partner', alt: 'Gri' %>
    <% end %>
    <%= external_link_to 'https://rununion.ru/' do %>
      <% image_tag '/images/partners/run_union.png', class: 'img-partner', alt: 'Союз любителей бега' %>
    <% end %>
  <% end %>
  <% if top_level_domain == :rs %>
    <%= external_link_to "https://www.instagram.com/grnhs_serbia/" do %>
      <% image_tag '/images/partners/grnhs_serbia.svg', class: 'img-partner', alt: 'Green House' %>
    <% end %>
  <% else %>
    <%= external_link_to "https://invitro.#{top_level_domain}" do %>
      <% image_tag '/images/partners/invitro.png', class: 'img-partner', alt: 'Invitro' %>
    <% end %>
  <% end %>
</div>
