<% head_info :title, t('navbars.about_s95.support') %>
<% head_info :description, t('.description') %>
<h1><%= t '.title' %></h1>
<p><%= t '.how_to_support' %></p>
<p><%= t '.about_volunteering' %></p>

<h4><%= t '.site_development' %></h4>
<p>
  <%=
    t(
      '.add_new_issues_html',
      github_repo: 'https://github.com/vol1ura/Sat_9am_5km',
      github_issues: 'https://github.com/vol1ura/Sat_9am_5km/issues',
    )
  %>
</p>
<p><%= t '.how_to_contribute' %></p>
<p><%= t '.small_changes' %></p>

<p><%= t '.best_regards' %></p>
