<p><%= t '.greeting', name: @user.first_name %></p>
<p><%= t '.body' %></p>
<p><%= link_to t('.link_text'), @url %></p>
<p><%= t '.expiry', minutes: @ttl_minutes %></p>
<p><%= t '.ignore' %></p>
<p>
  <%= t '.regards' %><br>
  <%= t '.team' %>
</p>
