<nav class="navbar bg-light bd-footer mt-4 pb-3">
  <footer class="container-lg">
    <div class="row pt-2">
      <div class="col-7 col-md-3">
        <a class="fs-5 mb-2 text-reset" href="/" aria-label="Sat9am5km"><%= t '.s95' %></a>
      </div>
      <div class="col-12 col-md-6 footer-text fw-light">
        <%= t '.slogan' %>
      </div>
      <div class="col-5 col-md-3 social-links ps-0 mt-1">
        <div class="float-end">
          <%= link_to Rails.configuration.telegram[top_level_domain], target: '_blank', rel: 'license noopener', title: t('.telegram_title') do %>
            <i class="fa-brands fa-telegram" role="img" aria-label="Telegram"></i>
          <% end %>
          <a href="https://vk.com/s95ru" target="_blank" rel="noopener" title="<%= t '.vk_title' %>">
            <i class="fa-brands fa-vk" role="img" aria-label="VK"></i>
          </a>
          <a href="mailto:<%= ENV['INFO_EMAIL'] %>" target="_blank" title="<%= t '.send_email' %>" rel="noopener">
            <i class="fa fa-envelope-open" role="img" aria-label="Email"></i>
          </a>
          <a href="https://github.com/vol1ura/Sat_9am_5km" target="_blank" rel="license noopener" title="<%= t '.github_title' %>">
            <i class="fa-brands fa-github" role="img" aria-label="GitHub"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
</nav>
