<nav class="navbar navbar-expand-lg bg-success navbar-dark sticky-top">
  <div class="container-fluid">
    <%= link_to 'Sat 9am 5km', root_path, class: 'navbar-brand text-uppercase' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
        <%= link_to 'Мероприятия', '#', class: "nav-link dropdown-toggle #{'active' if params[:controller] == 'events'}", id: 'eventDropdown', role: 'button', 'data-bs-toggle' => 'dropdown', 'aria-expanded' => 'false' %>
          <ul class="dropdown-menu" aria-labelledby="eventDropdown">
            <% Event.all.each do |event| %>
              <li><%= link_to event.name, event_path(event.code_name), class: 'dropdown-item' %></li>
            <% end %>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to 'Хотите организать у себя?', join_path, class:'dropdown-item' %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Правила', rules_path, class:"nav-link #{'active' if params[:action] == 'rules'}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'О нас', about_path, class:"nav-link #{'active' if params[:action] == 'about'}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Поддержать проект', support_path, class:"nav-link #{'active' if params[:action] == 'support'}" %>
        </li>
      </ul>

      <%= form_with url: athletes_path, method: :get, class: 'd-flex', role: 'search' do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :name, type: 'search', class: 'form-control', placeholder: 'Введите фамилию', 'aria-label'=> 'Search', autocomplete: 'off' %>
          <%= f.submit 'Поиск', class: 'btn btn-outline-light' %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
