<% male_leader_result = activity.leader_result(:male) %>
<% female_leader_result = activity.leader_result(:female) %>
<tr id="<%= dom_id activity %>">
  <td><%= link_to l(activity.date), activity %></td>
  <td sort-by="<%= activity.event_name %>">
    <%= link_to activity.event_name, event_path(activity.event.code_name) %>
  </td>
  <td><%= activity.event.town %></td>
  <td class="text-center"><%= @results_count[activity.id] %></td>
  <td class="text-center"><%= @volunteers_count.fetch(activity.id, 0) %></td>
  <td><%= male_leader_result&.athlete&.name %></td>
  <td class="ps-0" sort-by="<%= male_leader_result&.total_time %>">
    <%= male_leader_result&.time_string %>
  </td>
  <td><%= female_leader_result&.athlete&.name %></td>
  <td class="ps-0" sort-by="<%= female_leader_result&.total_time %>">
    <%= female_leader_result&.time_string %>
  </td>
</tr>
