<tr data-male="<%= result.athlete&.male %>">
  <td class="position align-middle"><%= result.position %></td>
  <td>
    <% if result.athlete_id %>
      <div>
        <%= link_to result.athlete.name.presence || t('common.nobody'), result.athlete, class: 'athlete-link' %>
      </div>
      <div class="athlete-details fw-lighter">
        <%= t '.total_runs_html', count: @results_count[result.athlete_id] %>
        <% if @volunteering_r_count[result.athlete_id] %>
          <div class="vr"></div>
          <%= t '.total_volunteering_html', count: @volunteering_r_count[result.athlete_id] %>
        <% end %>
      </div>
    <% else %>
      <%= t 'common.nobody' %>
    <% end %>
  </td>
  <td class="align-middle text-end">
    <% if result.personal_best %>
      <i class="bi bi-lightning-fill" title="Личный рекорд!"></i>
    <% end %>
    <% if result.first_run %>
      <i class="bi bi-heart-fill <%= 'text-danger' if @results_count[result.athlete_id] == 1 %>" title="Первый забег!"></i>
    <% end %>
    <%= human_result_time(result.total_time) %>
  </td>
  <td class="align-middle text-end"><%= human_result_pace(result.total_time) %></td>
  <td class="hidden-on-phone align-middle">
    <% club = result.athlete&.club %>
    <%= link_to club.name, club if club %>
  </td>
</tr>
