<tr>
  <td class="position"><%= result.position %></td>
  <td>
    <% if result.athlete.present? %>
      <div>
        <%= link_to result.athlete&.name, athlete_path(result.athlete_id), class: 'athlete-link' %>
      </div>
      <div class="athlete-details fw-lighter">
        забегов <%= counts[result.athlete] %>
        <% volunteering_count = result.athlete.volunteering.size
          if volunteering_count.positive? %>
        | волонтёрств <%= volunteering_count %>
        <% end %>
      </div>
    <% else %>
      <%= Athlete::NOBODY %>
    <% end %>
  </td>
  <td><%= human_result_time(result.total_time) %></td>
  <td class="hidden-on-phone"><%= result.athlete&.club&.name %></td>
  <td class="hidden-on-phone"><%= result.athlete&.gender %></td>
</tr>
