<% head_info :description, t('.description') %>
<h1><%= head_info :title, t('navbars.top.recent_results') %></h1>

<div class="table-responsive">
  <table id="activities" class="table table-striped">
    <thead>
      <tr data-controller="table-head">
        <th><%= t '.date' %></th>
        <th><%= t '.event' %></th>
        <th class="sortable" data-action="click->table-head#toggleSort">
          <span><%= t '.town' %></span>
          <span class="sort-arrow" aria-hidden="true"><i class="fa"></i></span>
        </th>
        <th class="text-center sortable" data-action="click->table-head#toggleSort">
          <span><%= t '.athletes' %></span>
          <span class="sort-arrow" aria-hidden="true"><i class="fa"></i></span>
        </th>
        <th class="text-center sortable" data-action="click->table-head#toggleSort">
          <span><%= t '.volunteers' %></span>
          <span class="sort-arrow" aria-hidden="true"><i class="fa"></i></span>
        </th>
        <th><%= t '.first_man' %></th>
        <th class="sortable" data-action="click->table-head#toggleSort">
          <span><i class="fa-solid fa-clock"></i></span>
          <span class="sort-arrow" aria-hidden="true"><i class="fa"></i></span>
        </th>
        <th><%= t '.first_woman' %></th>
        <th class="sortable" data-action="click->table-head#toggleSort">
          <span><i class="fa-solid fa-clock"></i></span>
          <span class="sort-arrow" aria-hidden="true"><i class="fa"></i></span>
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render @activities, cached: ->(activity) { locale_cache_key(activity) } %>
    </tbody>
  </table>
</div>

<h2 class="mt-2"><%= t '.dashboard' %></h2>
<%= turbo_frame_tag 'dashboard', src: dashboard_activities_path, loading: 'lazy' do %>
  <%= render '/loading_indicator' %>
<% end %>
