<% head_info :title, 'Недавние забеги' %>
<h2>Недавние забеги</h2>

<table id="activities" class="table table-striped">
  <thead>
    <tr>
      <th><%= svg_icon_tag :calendar %></th>
      <th><%= svg_icon_tag :park %></th>
      <th class="text-center"><%= svg_icon_tag :participants %></th>
      <th class="hidden-on-phone"><%= svg_icon_tag :first_man %></th>
      <th class="hidden-on-phone"><%= svg_icon_tag :first_woman %></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render @activities %>
  </tbody>
</table>
