<% head_info :title, t('navbars.top.recent_results') %>
<% head_info :description, t('.description') %>
<h2><%= t 'navbars.top.recent_results' %></h2>

<div class="table-responsive">
  <table id="activities" class="table table-striped">
    <thead>
      <tr>
        <th><%= t '.date' %></th>
        <th><%= t '.event' %></th>
        <th class="text-center"><%= t '.athletes' %></th>
        <th class="text-center"><%= t '.volunteers' %></th>
        <th><%= t '.first_man' %></th>
        <th><%= t '.first_woman' %></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render @activities, cached: true %>
    </tbody>
  </table>
</div>
