<% head_info :description, t('.description') %>
<h2><%= head_info :title, t('navbars.top.recent_results') %></h2>

<div class="table-responsive">
  <table id="activities" class="table table-striped">
    <thead data-controller="table-head">
      <tr>
        <th><%= t '.date' %></th>
        <th><%= t '.event' %></th>
        <th class="text-center">
          <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="fa fa-angle-up"></i></span>
          <%= t '.athletes' %>
        </th>
        <th class="text-center">
          <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="fa fa-angle-up"></i></span>
          <%= t '.volunteers' %>
        </th>
        <th><%= t '.first_man' %></th>
        <th>
          <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="fa fa-angle-up"></i></span>
        </th>
        <th><%= t '.first_woman' %></th>
        <th>
          <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="fa fa-angle-up"></i></span>
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render @activities, cached: ->(activity) { locale_cache_key(activity) } %>
    </tbody>
  </table>
</div>

<h3 class="mt-2"><%= t '.dashboard' %></h3>
<%= turbo_frame_tag 'dashboard', src: dashboard_activities_path, loading: 'lazy' do %>
  <%= render '/loading_indicator' %>
<% end %>
