<h2>Дата <%= @activity.date.strftime('%d.%m.%Y') %></h2>

<h4>Краткий отчёт</h4>
<p><%= @activity.description %></p>

<h4>Результаты</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Место</th>
      <th>Имя</th>
      <th>Результат</th>
      <th class="hidden-on-phone">Клуб</th>
      <th class="hidden-on-phone">Пол</th>
    </tr>
  </thead>
  <tbody>
    <% @activity.results.includes(athlete: :club).order(:position).each do |result| %>
      <tr>
        <td><%= result.position %></td>
        <td>
          <% if result.athlete.present? %>
            <%= link_to result.athlete&.name, athlete_path(result.athlete_id) %>
          <% else %>
            <%= Athlete::NOBODY %>
          <% end %>
        </td>
        <td><%= human_result_time(result.total_time) %></td>
        <td class="hidden-on-phone"><%= result.athlete&.club&.name %></td>
        <td class="hidden-on-phone"><%= result.athlete&.gender %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to "Все забеги", activities_path %>
</div>

<h2>Волонтёры</h2>
<p>Забег не состоялся бы без помощи этих людей</p>
<table class="table">
  <thead>
    <tr>
      <th>Роль</th>
      <th>Волонтёр</th>
    </tr>
  </thead>
  <tbody>
    <% @activity.volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.role %></td>
        <td><%= volunteer.athlete.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
