<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Главная', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @activity.event.name, event_path(@activity.event.code_name) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= l @activity.date %>&nbsp;г.</li>
  </ol>
</nav>

<% if @activity.description.present? %>
  <h4>Краткий отчёт</h4>
  <%= sanitized_text @activity.description %>
<% end %>

<h4>Протокол</h4>

<ul class="nav nav-tabs" id="protocol" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="absolute-tab" data-bs-toggle="tab" data-bs-target="#absolute-tab-pane" type="button" role="tab" aria-controls="absolute-tab-pane" aria-selected="true">Общий</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="male-tab" data-bs-toggle="tab" data-bs-target="#male-tab-pane" type="button" role="tab" aria-controls="male-tab-pane" aria-selected="false">Мужчины</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="female-tab" data-bs-toggle="tab" data-bs-target="#female-tab-pane" type="button" role="tab" aria-controls="female-tab-pane" aria-selected="false">Женщины</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="charts-tab" data-bs-toggle="tab" data-bs-target="#charts-tab-pane" type="button" role="tab" aria-controls="female-tab-pane" aria-selected="false"><i class="bi bi-bar-chart-line"></i></button>
  </li>
</ul>

<div class="tab-content" data-controller="protocol">
  <div class="tab-pane fade show active" id="absolute-tab-pane" role="tabpanel" aria-labelledby="absolute-tab" tabindex="0" data-protocol-target="absolute">
    <%= render partial: 'protocol', locals: { results: @results, counts: @counts } %>
  </div>
  <div class="tab-pane fade" id="male-tab-pane" role="tabpanel" aria-labelledby="male-tab" tabindex="0" data-protocol-target="male"></div>
  <div class="tab-pane fade" id="female-tab-pane" role="tabpanel" aria-labelledby="female-tab" tabindex="0" data-protocol-target="female"></div>
  <div class="tab-pane fade" id="charts-tab-pane" role="tabpanel" aria-labelledby="charts-tab" tabindex="0" data-protocol-target="charts">
    <div class="d-flex flex-wrap justify-content-around my-3">
      <div id="chart-gender" class="col-12 col-md-6 col-xl-4"></div>
      <div id="chart-clubs" class="col-12 col-md-6 col-xl-4"></div>
    </div>
  </div>
</div>

<h4>Волонтёры</h4>
<p>Забег провела команда волонтёров:</p>
<table class="table">
  <thead>
    <tr>
      <th>Волонтёр</th>
      <th>Роль</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @activity.volunteers.includes(:athlete).each do |volunteer| %>
      <tr>
        <td><%= link_to volunteer.name, athlete_path(volunteer.athlete), class: 'athlete-link' %></td>
        <td><%= human_volunteer_role volunteer.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
