<%= turbo_frame_tag 'personal_best_absolute' do %>
  <% pb_result = @pb_by_time.first %>
  <h2 class="accordion-header" id="flush-personalBestAbsolute">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePersonalBestAbsolute" aria-expanded="false" aria-controls="flush-collapsePersonalBestAbsolute">
      <span class="badge text-light bg-primary me-3"><%= pb_result ? human_result_time(pb_result.total_time) : '?' %></span>
      <%= t 'athletes.show.personal_best' %>
    </button>
  </h2>
  <div id="flush-collapsePersonalBestAbsolute" class="accordion-collapse collapse" aria-labelledby="flush-personalBestAbsolute" data-bs-parent="#accordionPersonalBest">
    <div class="accordion-body">
      <table class="table">
        <thead>
          <tr>
            <th><%= t 'athletes.show.table.pb' %></th>
            <th>Δ</th>
            <th><%= t 'athletes.show.table.date' %></th>
            <th><%= t 'athletes.show.table.event' %></th>
          </tr>
        </thead>
        <tbody>
          <% @pb_by_time.includes(activity: :event).to_a.push(nil).each_cons(2) do |pb, pb_prev| %>
            <tr>
              <td><%= human_result_time pb.total_time %></td>
              <td>
                <% if pb_prev %>
                  <% delta = (pb_prev.total_time - pb.total_time).to_i %>
                  <%= format('%d:%02d', delta / 60, delta % 60) %>
                <% end %>
              </td>
              <td><%= link_to l(pb.activity.date), pb.activity %></td>
              <td><%= link_to pb.activity.event_name, event_path(pb.activity.event.code_name) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
