<%= turbo_frame_tag 'volunteering_chart' do %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="hstack">
        <div class="acc-li-s"><%= t '.h_index' %></div>
        <div class="mx-3"><%= @h_index %></div>
      </div>
      <div class="text-muted small">
        <%= t '.h_index_explanation' %>
        <% if @h_index_missing_roles.positive? %>
          <br>
          <%= t '.h_index_missing_roles', count: @h_index_missing_roles %>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="hstack">
        <div class="acc-li-s"><%= t '.volunteering_coefficient' %></div>
        <div class="mx-3">
          <% if @total_results.zero? %>
            <i class="fa-solid fa-infinity"></i>
          <% else %>
            <%= (@volunteering.count * 10.0 / @total_results).round(1) %>
          <% end %>
        </div>
      </div>
      <div class="text-muted small">
        <%= t '.volunteering_coefficient_explanation' %>
      </div>
    </li>
  </ul>
  <div class="mt-2 d-flex flex-wrap justify-content-around" data-controller="volunteer">
    <table class="d-none">
      <%
        history_stats = @volunteering
          .where(activity: { date: 5.months.ago.beginning_of_month.. })
          .group(:role, Arel.sql("date_part('month', date)"))
          .count
          .each_with_object({}) do |(k, v), h|
            h[k.first] ||= Array.new(6, 0)
            h[k.first][5 - ((Date.current.mon - k.last) % 12)] = v
          end
      %>
      <tbody>
        <% history_stats.each do |role, values| %>
          <tr data-volunteer-target="data">
            <th><%= human_volunteer_role role %></th>
            <% values.each do |value| %>
              <td><%= value %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="d-none">
      <tbody>
        <%
          @role_counts
            .first(@h_index_target)
            .map do |role, count|
              {
                role: role,
                count: count,
                deficit: [@h_index_target - count, 0].max
              }
            end
            .each do |row|
        %>
              <tr
                data-volunteer-target="hdata"
                data-count="<%= row[:count] %>"
                data-deficit="<%= row[:deficit] %>">
                <th><%= human_volunteer_role row[:role] %></th>
              </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-12 col-md-10 col-xl-8" data-volunteer-target="chart"></div>
    <div class="col-12 col-md-10 col-xl-8 mt-4">
      <div
        class="mt-2"
        data-volunteer-target="hchart"
        data-h-index-target="<%= @h_index_target %>"
        data-h-index-title="<%= t '.h_index_chart_title' %>"
        data-h-index-tooltip="<%= t '.h_index_chart_tooltip' %>"
      ></div>
    </div>
  </div>
<% end %>
