<!DOCTYPE html>
<html>
  <head>
    <title>Панель управления | Sat 9am 5km</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
