<!DOCTYPE html>
<html lang="<%= current_locale %>">
  <%= render '/head' %>
  <body class="m-0 d-flex flex-column">
    <%= render 'navbars/top' %>
    <%= render '/flash' %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="spacer"></div>
    <%= render 'navbars/bottom' %>
  </body>
</html>
