<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>
      <%= yield_head_info(:title, 'Парковые забеги') %> | Sat9am5km
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_link_tag '/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag '/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_importmap_tags %>
    <meta name='description' content='<%= yield_head_info(:description, 'Еженедельные субботние пробежки на 5км в парке') %>'>
    <meta name='keywords' content='<%= yield_head_info(:keywords, 's95,sat,9am,5km,парковые пробежки,парковые забеги,бег,5 км,забег в Кузьминках,забег в Измайлово,забег в Царицыно,забег в Олимпийской Деревне,Ангарские Пруды,забег в Кусково,ParkЖRun,пакржрун,parkzhrun,забег в Твери,паркран,parkrun') %>'>
    <% if Rails.env.production? %>
      <meta name="yandex-verification" content="21bc9bdf6099b4f1">
      <!-- Yandex.Metrika counter -->
      <script>
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(<%= ENV.fetch('YANDEX_METRIKA', 0) %>, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
        });
      </script>
      <!-- /Yandex.Metrika counter -->
    <% end %>
  </head>
  <body class="m-0 d-flex flex-column">
    <%= render 'navbars/top' %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="spacer"></div>
    <%= render 'navbars/bottom' %>
  </body>
</html>
