<!DOCTYPE html>
<html lang="<%= top_level_domain %>">
  <head>
    <title><%= yield_head_info(:title, 'Парковые забеги') %> | S95</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= yield_head_info :og_image, '/favicon-192x192.png' %>">
    <meta property="og:image" content="<%= yield_head_info :og_image, '/favicon-192x192.png' %>">
    <meta property="og:image:width" content="300">
    <%= favicon_link_tag '/favicon.ico', rel: 'icon', sizes: '32x32' %>
    <%= favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag '/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag '/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <link rel="manifest" href="/manifest.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-title" content="Sat9am5km">
    <meta name='description' content='<%= yield_head_info(:description, 'Еженедельные субботние пробежки на 5км в парке') %>'>
    <meta name='keywords' content='<%= yield_head_info(:keywords, "s95,sat9am5km,sat,9am,5km,5км,бег,парк,run,park,суббота,saturday,утро,парковые пробежки,парковые забеги,пробег,забег,спорт,волонтерство,друзья,знакомства,семья,досуг,дети,паркран,parkrun,#{@country_events.map(&:name).join(',')}") %>'>
    <% if Rails.env.production? %>
      <meta name="yandex-verification" content="<%= Rails.application.credentials.yandex.webmaster[top_level_domain] %>">
      <!-- Yandex.Metrika counter -->
      <script>
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(<%= Rails.application.credentials.yandex.metrika[top_level_domain] %>, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true
        });
      </script>
      <!-- /Yandex.Metrika counter -->
    <% end %>
  </head>
  <body class="m-0 d-flex flex-column">
    <%= render 'navbars/top' %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="spacer"></div>
    <%= render 'navbars/bottom' %>
  </body>
</html>
