<!DOCTYPE html>
<html lang="<%= current_locale %>" data-controller="theme">
  <%= render '/head' %>
  <body class="m-0 d-flex flex-column">
    <%= render 'navbars/top' %>
    <%= render '/flash' %>
    <%= yield %>
    <div class="spacer"></div>
    <%= render 'navbars/bottom' %>
  </body>
</html>
